In [1]:
import pandas as pd
import json
import re
import math
import numpy as np
from collections import defaultdict
import psycopg2
import time
import os
import sys
from tqdm import tqdm

In [2]:
dataset = 'tpcds_sf1'
tmp_data_dir = 'data/tpcds_sf1'


# column_type_file = os.path.join(os.path.dirname(__file__), f'../zsce/cross_db_benchmark/datasets/{dataset}/column_type.json')
column_type_file = os.path.join(f'/home/wuy/DB/memory_prediction/zsce/cross_db_benchmark/datasets/{dataset}/column_type.json')
with open(column_type_file, 'r') as f:
    column_type = json.load(f)

schema = {}
for table, columns in column_type.items():
    if table == 'dbgen_version':
        continue
    for column, type_ in columns.items():
        if table not in schema:
            schema[table] = []
        schema[table].append(column)

# Define table aliases as their original names for tpcds by iterating tpcds_schema, meanwhile get col2idx
t2alias = {}
col2idx = {}
for table, columns in schema.items():
    for column in columns:
        t2alias[table] = table
        col2idx[table + '.' + column] = len(col2idx)

alias2t = {v: k for k, v in t2alias.items()}

In [3]:
# Database connection parameters
DB_PARAMS = {
    'database': dataset,
    'user': "wuy",
    'host': "127.0.0.1",
    'password': "wuy",
    'port': "5432"
}
conn = psycopg2.connect(**DB_PARAMS)
conn.set_session(autocommit=True)
cur = conn.cursor()

In [4]:
def to_vals(data_list):
    for dat in data_list:
        val = dat[0]
        if val is not None: break
    try:
        float(val)
        return np.array(data_list, dtype=float).squeeze()
    except:
#         print(val)
        res = []
        for dat in data_list:
            try:
                mi = dat[0].timestamp()
            except:
                mi = 0
            res.append(mi)
        return np.array(res)

## Histogram

In [5]:
hist_file = pd.DataFrame(columns=['table','column','bins','table_column'])
# load hist_file if exists
hist_file_path = os.path.join(tmp_data_dir, 'hist_file.csv')
if os.path.exists(hist_file_path):
    hist_file = pd.read_csv(hist_file_path)
else:
    for table,columns in schema.items():
        for column in tqdm(columns, desc=table):
            cmd = 'select {} from {} as {}'.format(column, table,t2alias[table])
            cur.execute(cmd)
            col = cur.fetchall()
            col_array = to_vals(col)
            
            hists = np.nanpercentile(col_array, range(0,101,2), axis=0)
            freqs, _ = np.histogram(col_array, bins=hists)

            freq_bytes = freqs.astype('float32').tobytes()
            freq_hex = freq_bytes.hex()
            
            res_dict = {
                'table':table,
                'column':column,
                'table_column': '.'.join((table, column)),
                'bins':hists,
                'freq': freq_hex
            }
            hist_file = pd.concat([hist_file, pd.DataFrame([res_dict])], ignore_index=True)
        hist_file.to_csv(hist_file_path, index=False)

customer_address: 100%|██████████| 13/13 [00:01<00:00, 12.07it/s]
customer_demographics: 100%|██████████| 9/9 [00:19<00:00,  2.16s/it]
date_dim: 100%|██████████| 28/28 [00:02<00:00, 10.79it/s]
warehouse: 100%|██████████| 14/14 [00:00<00:00, 466.47it/s]
ship_mode: 100%|██████████| 6/6 [00:00<00:00, 481.93it/s]
time_dim: 100%|██████████| 10/10 [00:01<00:00,  8.59it/s]
reason: 100%|██████████| 3/3 [00:00<00:00, 301.13it/s]
income_band: 100%|██████████| 3/3 [00:00<00:00, 204.28it/s]
item: 100%|██████████| 22/22 [00:00<00:00, 25.80it/s]
store: 100%|██████████| 29/29 [00:00<00:00, 477.63it/s]
call_center: 100%|██████████| 31/31 [00:00<00:00, 463.94it/s]
customer: 100%|██████████| 18/18 [00:02<00:00,  8.09it/s]
web_site: 100%|██████████| 26/26 [00:00<00:00, 470.67it/s]
store_returns: 100%|██████████| 20/20 [00:11<00:00,  1.70it/s]
household_demographics: 100%|██████████| 5/5 [00:00<00:00, 82.43it/s]
web_page: 100%|██████████| 14/14 [00:00<00:00, 433.40it/s]
promotion: 100%|██████████| 19/19 [00:00<00:00, 430.92it/s]
catalog_page: 100%|██████████| 9/9 [00:00<00:00, 63.95it/s]
inventory: 100%|██████████| 4/4 [00:38<00:00,  9.73s/it]
catalog_returns: 100%|██████████| 27/27 [00:07<00:00,  3.65it/s]
web_returns: 100%|██████████| 24/24 [00:03<00:00,  7.44it/s]
web_sales: 100%|██████████| 34/34 [00:53<00:00,  1.59s/it]
catalog_sales: 100%|██████████| 34/34 [01:44<00:00,  3.09s/it]
store_sales: 100%|██████████| 23/23 [02:22<00:00,  6.18s/it]

In [6]:
cur.close()
conn.close()

## Sample
### Steps (There may be other easier methods)
1. generate 1000 sample points for each table
2. duplicate database schema from full db
    > pg_dump imdb -s -O > imdb_schema.sql
3. create small base by in psql
    > create database imdb_sample
4. create schema using imdb_schema.sql
5. load the sample data using pandas and sqlalchemy
6. query the small base to get sample bitmaps for each predicate

Step 1

In [11]:
DB_PARAMS = {
    'database': 'tpcds_sample',
    'user': "wuy",
    'host': "127.0.0.1",
    'password': "wuy",
    'port': "5432"
}
conm = psycopg2.connect(**DB_PARAMS)
conm.set_session(autocommit=True)
cur = conm.cursor()

In [8]:
## sampling extension
try:
    cmd = 'CREATE EXTENSION tsm_system_rows'
    cur.execute(cmd)
except Exception as e:
    print(e)
    pass

could not open extension control file "/usr/local/pgsql/share/extension/tsm_system_rows.control": No such file or directory

In [13]:
import pickle
# load sample_data from file if exists
sample_data_file = os.path.join(tmp_data_dir, "sample_data.pkl")
if os.path.exists(sample_data_file):
    with open(sample_data_file, "rb") as f:
        sample_data = pickle.load(f)
else:
    tables = list(schema.keys())
    sample_data = {}
    for table in tables:
        cur.execute("Select * FROM {} LIMIT 0".format(table))
        colnames = [desc[0] for desc in cur.description]

        ts = pd.DataFrame(columns = colnames)

        for num in tqdm(range(1000), desc=table):
            # cmd = 'SELECT * FROM {} TABLESAMPLE SYSTEM_ROWS(1)'.format(table)
            cmd = 'SELECT * FROM {} ORDER BY RANDOM() LIMIT 1'.format(table)
            cur.execute(cmd)
            samples = cur.fetchall()
            for i,row in enumerate(samples):
                ts.loc[num]=row
        
        sample_data[table] = ts
    with open(sample_data_file, "wb") as f:
        pickle.dump(sample_data, f)

customer_address:   0%|          | 0/1000 [00:00<?, ?it/s]

customer_address: 100%|██████████| 1000/1000 [00:00<00:00, 3421.65it/s]
customer_demographics: 100%|██████████| 1000/1000 [00:00<00:00, 3779.10it/s]
date_dim: 100%|██████████| 1000/1000 [00:00<00:00, 3059.00it/s]
warehouse: 100%|██████████| 1000/1000 [00:00<00:00, 3617.66it/s]
ship_mode: 100%|██████████| 1000/1000 [00:00<00:00, 4678.24it/s]
time_dim: 100%|██████████| 1000/1000 [00:00<00:00, 3827.14it/s]
reason: 100%|██████████| 1000/1000 [00:00<00:00, 4330.21it/s]
income_band: 100%|██████████| 1000/1000 [00:00<00:00, 4831.79it/s]
item: 100%|██████████| 1000/1000 [00:00<00:00, 3625.11it/s]
store: 100%|██████████| 1000/1000 [00:00<00:00, 2983.35it/s]
call_center: 100%|██████████| 1000/1000 [00:00<00:00, 2699.83it/s]
customer: 100%|██████████| 1000/1000 [00:00<00:00, 3373.58it/s]
web_site: 100%|██████████| 1000/1000 [00:00<00:00, 2956.99it/s]
store_returns: 100%|██████████| 1000/1000 [00:00<00:00, 3237.13it/s]
household_demographics: 100%|██████████| 1000/1000 [00:00<00:00, 4115.54it/s]
web_page: 100%|██████████| 1000/1000 [00:00<00:00, 3637.61it/s]
promotion: 100%|██████████| 1000/1000 [00:00<00:00, 3305.04it/s]
catalog_page: 100%|██████████| 1000/1000 [00:00<00:00, 3889.36it/s]
inventory: 100%|██████████| 1000/1000 [00:00<00:00, 4212.62it/s]
catalog_returns: 100%|██████████| 1000/1000 [00:00<00:00, 2996.04it/s]
web_returns: 100%|██████████| 1000/1000 [00:00<00:00, 3181.74it/s]
web_sales: 100%|██████████| 1000/1000 [00:00<00:00, 2926.55it/s]
catalog_sales: 100%|██████████| 1000/1000 [00:00<00:00, 2883.05it/s]
store_sales: 100%|██████████| 1000/1000 [00:00<00:00, 3397.53it/s]

In [14]:
sample_data.keys()

dict_keys(['customer_address', 'customer_demographics', 'date_dim', 'warehouse', 'ship_mode', 'time_dim', 'reason', 'income_band', 'item', 'store', 'call_center', 'customer', 'web_site', 'store_returns', 'household_demographics', 'web_page', 'promotion', 'catalog_page', 'inventory', 'catalog_returns', 'web_returns', 'web_sales', 'catalog_sales', 'store_sales'])

Step 5 (Do step 2-4 outside first)

In [16]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://wuy:wuy@localhost:5432/tpcds_sample')

In [17]:
for k,v in tqdm(sample_data.items()):
    try:
        v['sid'] = list(range(1000))
        cmd = 'alter table {} add column sid integer'.format(k)
        cur.execute(cmd)
        v.to_sql(k,engine,if_exists='append',index=False)
    except Exception as e:
        print(e)

  4%|▍         | 1/24 [00:00<00:04,  5.69it/s]

(psycopg2.errors.NotNullViolation) null value in column "ca_address_sk" of relation "customer_address" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, null, null, null, null, null, null, null, null, null, null, 0).

[SQL: INSERT INTO customer_address (ca_address_sk, ca_address_id, ca_street_number, ca_street_name, ca_street_type, ca_suite_number, ca_city, ca_county, ca_state, ca_zip, ca_country, ca_gmt_offset, ca_location_type, sid) VALUES (%(ca_address_sk__0)s, %(ca_ ... 311330 characters truncated ... ca_zip__999)s, %(ca_country__999)s, %(ca_gmt_offset__999)s, %(ca_location_type__999)s, %(sid__999)s)]
[parameters: {'ca_zip__0': None, 'sid__0': 0, 'ca_address_id__0': None, 'ca_gmt_offset__0': None, 'ca_suite_number__0': None, 'ca_street_name__0': None, 'ca_location_type__0': None, 'ca_street_type__0': None, 'ca_address_sk__0': None, 'ca_city__0': None, 'ca_state__0': None, 'ca_street_number__0': None, 'ca_country__0': None, 'ca_county__0': None, 'ca_zip__1': None, 'sid__1': 1, 'ca_address_id__1': None, 'ca_gmt_offset__1': None, 'ca_suite_number__1': None, 'ca_street_name__1': None, 'ca_location_type__1': None, 'ca_street_type__1': None, 'ca_address_sk__1': None, 'ca_city__1': None, 'ca_state__1': None, 'ca_street_number__1': None, 'ca_country__1': None, 'ca_county__1': None, 'ca_zip__2': None, 'sid__2': 2, 'ca_address_id__2': None, 'ca_gmt_offset__2': None, 'ca_suite_number__2': None, 'ca_street_name__2': None, 'ca_location_type__2': None, 'ca_street_type__2': None, 'ca_address_sk__2': None, 'ca_city__2': None, 'ca_state__2': None, 'ca_street_number__2': None, 'ca_country__2': None, 'ca_county__2': None, 'ca_zip__3': None, 'sid__3': 3, 'ca_address_id__3': None, 'ca_gmt_offset__3': None, 'ca_suite_number__3': None, 'ca_street_name__3': None, 'ca_location_type__3': None, 'ca_street_type__3': None ... 13900 parameters truncated ... 'ca_location_type__996': None, 'ca_street_type__996': None, 'ca_address_sk__996': None, 'ca_city__996': None, 'ca_state__996': None, 'ca_street_number__996': None, 'ca_country__996': None, 'ca_county__996': None, 'ca_zip__997': None, 'sid__997': 997, 'ca_address_id__997': None, 'ca_gmt_offset__997': None, 'ca_suite_number__997': None, 'ca_street_name__997': None, 'ca_location_type__997': None, 'ca_street_type__997': None, 'ca_address_sk__997': None, 'ca_city__997': None, 'ca_state__997': None, 'ca_street_number__997': None, 'ca_country__997': None, 'ca_county__997': None, 'ca_zip__998': None, 'sid__998': 998, 'ca_address_id__998': None, 'ca_gmt_offset__998': None, 'ca_suite_number__998': None, 'ca_street_name__998': None, 'ca_location_type__998': None, 'ca_street_type__998': None, 'ca_address_sk__998': None, 'ca_city__998': None, 'ca_state__998': None, 'ca_street_number__998': None, 'ca_country__998': None, 'ca_county__998': None, 'ca_zip__999': None, 'sid__999': 999, 'ca_address_id__999': None, 'ca_gmt_offset__999': None, 'ca_suite_number__999': None, 'ca_street_name__999': None, 'ca_location_type__999': None, 'ca_street_type__999': None, 'ca_address_sk__999': None, 'ca_city__999': None, 'ca_state__999': None, 'ca_street_number__999': None, 'ca_country__999': None, 'ca_county__999': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
(psycopg2.errors.NotNullViolation) null value in column "cd_demo_sk" of relation "customer_demographics" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, null, null, null, null, null, null, 0).

[SQL: INSERT INTO customer_demographics (cd_demo_sk, cd_gender, cd_marital_status, cd_education_status, cd_purchase_estimate, cd_credit_rating, cd_dep_count, cd_dep_employed_count, cd_dep_college_count, sid) VALUES (%(cd_demo_sk__0)s, %(cd_gender__0)s, %(c ... 257757 characters truncated ...  %(cd_dep_count__999)s, %(cd_dep_employed_count__999)s, %(cd_dep_college_count__999)s, %(sid__999)s)]
[parameters: {'sid__0': 0, 'cd_credit_rating__0': None, 'cd_marital_status__0': None, 'cd_dep_employed_count__0': None, 'cd_gender__0': None, 'cd_purchase_estimate__0': None, 'cd_demo_sk__0': None, 'cd_dep_count__0': None, 'cd_dep_college_count__0': None, 'cd_education_status__0': None, 'sid__1': 1, 'cd_credit_rating__1': None, 'cd_marital_status__1': None, 'cd_dep_employed_count__1': None, 'cd_gender__1': None, 'cd_purchase_estimate__1': None, 'cd_demo_sk__1': None, 'cd_dep_count__1': None, 'cd_dep_college_count__1': None, 'cd_education_status__1': None, 'sid__2': 2, 'cd_credit_rating__2': None, 'cd_marital_status__2': None, 'cd_dep_employed_count__2': None, 'cd_gender__2': None, 'cd_purchase_estimate__2': None, 'cd_demo_sk__2': None, 'cd_dep_count__2': None, 'cd_dep_college_count__2': None, 'cd_education_status__2': None, 'sid__3': 3, 'cd_credit_rating__3': None, 'cd_marital_status__3': None, 'cd_dep_employed_count__3': None, 'cd_gender__3': None, 'cd_purchase_estimate__3': None, 'cd_demo_sk__3': None, 'cd_dep_count__3': None, 'cd_dep_college_count__3': None, 'cd_education_status__3': None, 'sid__4': 4, 'cd_credit_rating__4': None, 'cd_marital_status__4': None, 'cd_dep_employed_count__4': None, 'cd_gender__4': None, 'cd_purchase_estimate__4': None, 'cd_demo_sk__4': None, 'cd_dep_count__4': None, 'cd_dep_college_count__4': None, 'cd_education_status__4': None ... 9900 parameters truncated ... 'sid__995': 995, 'cd_credit_rating__995': None, 'cd_marital_status__995': None, 'cd_dep_employed_count__995': None, 'cd_gender__995': None, 'cd_purchase_estimate__995': None, 'cd_demo_sk__995': None, 'cd_dep_count__995': None, 'cd_dep_college_count__995': None, 'cd_education_status__995': None, 'sid__996': 996, 'cd_credit_rating__996': None, 'cd_marital_status__996': None, 'cd_dep_employed_count__996': None, 'cd_gender__996': None, 'cd_purchase_estimate__996': None, 'cd_demo_sk__996': None, 'cd_dep_count__996': None, 'cd_dep_college_count__996': None, 'cd_education_status__996': None, 'sid__997': 997, 'cd_credit_rating__997': None, 'cd_marital_status__997': None, 'cd_dep_employed_count__997': None, 'cd_gender__997': None, 'cd_purchase_estimate__997': None, 'cd_demo_sk__997': None, 'cd_dep_count__997': None, 'cd_dep_college_count__997': None, 'cd_education_status__997': None, 'sid__998': 998, 'cd_credit_rating__998': None, 'cd_marital_status__998': None, 'cd_dep_employed_count__998': None, 'cd_gender__998': None, 'cd_purchase_estimate__998': None, 'cd_demo_sk__998': None, 'cd_dep_count__998': None, 'cd_dep_college_count__998': None, 'cd_education_status__998': None, 'sid__999': 999, 'cd_credit_rating__999': None, 'cd_marital_status__999': None, 'cd_dep_employed_count__999': None, 'cd_gender__999': None, 'cd_purchase_estimate__999': None, 'cd_demo_sk__999': None, 'cd_dep_count__999': None, 'cd_dep_college_count__999': None, 'cd_education_status__999': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

 21%|██        | 5/24 [00:00<00:02,  8.79it/s]

(psycopg2.errors.NotNullViolation) null value in column "d_date_sk" of relation "date_dim" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, 0).

[SQL: INSERT INTO date_dim (d_date_sk, d_date_id, d_date, d_month_seq, d_week_seq, d_quarter_seq, d_year, d_dow, d_moy, d_dom, d_qoy, d_fy_year, d_fy_quarter_seq, d_fy_week_seq, d_day_name, d_quarter_name, d_holiday, d_weekend, d_following_holiday, d_first ... 623851 characters truncated ... _999)s, %(d_current_month__999)s, %(d_current_quarter__999)s, %(d_current_year__999)s, %(sid__999)s)]
[parameters: {'d_dom__0': None, 'sid__0': 0, 'd_month_seq__0': None, 'd_same_day_lq__0': None, 'd_date_sk__0': None, 'd_holiday__0': None, 'd_fy_week_seq__0': None, 'd_current_day__0': None, 'd_day_name__0': None, 'd_current_week__0': None, 'd_fy_quarter_seq__0': None, 'd_qoy__0': None, 'd_date__0': None, 'd_first_dom__0': None, 'd_week_seq__0': None, 'd_following_holiday__0': None, 'd_fy_year__0': None, 'd_quarter_seq__0': None, 'd_weekend__0': None, 'd_moy__0': None, 'd_same_day_ly__0': None, 'd_last_dom__0': None, 'd_quarter_name__0': None, 'd_year__0': None, 'd_current_month__0': None, 'd_current_year__0': None, 'd_current_quarter__0': None, 'd_dow__0': None, 'd_date_id__0': None, 'd_dom__1': None, 'sid__1': 1, 'd_month_seq__1': None, 'd_same_day_lq__1': None, 'd_date_sk__1': None, 'd_holiday__1': None, 'd_fy_week_seq__1': None, 'd_current_day__1': None, 'd_day_name__1': None, 'd_current_week__1': None, 'd_fy_quarter_seq__1': None, 'd_qoy__1': None, 'd_date__1': None, 'd_first_dom__1': None, 'd_week_seq__1': None, 'd_following_holiday__1': None, 'd_fy_year__1': None, 'd_quarter_seq__1': None, 'd_weekend__1': None, 'd_moy__1': None, 'd_same_day_ly__1': None ... 28900 parameters truncated ... 'd_day_name__998': None, 'd_current_week__998': None, 'd_fy_quarter_seq__998': None, 'd_qoy__998': None, 'd_date__998': None, 'd_first_dom__998': None, 'd_week_seq__998': None, 'd_following_holiday__998': None, 'd_fy_year__998': None, 'd_quarter_seq__998': None, 'd_weekend__998': None, 'd_moy__998': None, 'd_same_day_ly__998': None, 'd_last_dom__998': None, 'd_quarter_name__998': None, 'd_year__998': None, 'd_current_month__998': None, 'd_current_year__998': None, 'd_current_quarter__998': None, 'd_dow__998': None, 'd_date_id__998': None, 'd_dom__999': None, 'sid__999': 999, 'd_month_seq__999': None, 'd_same_day_lq__999': None, 'd_date_sk__999': None, 'd_holiday__999': None, 'd_fy_week_seq__999': None, 'd_current_day__999': None, 'd_day_name__999': None, 'd_current_week__999': None, 'd_fy_quarter_seq__999': None, 'd_qoy__999': None, 'd_date__999': None, 'd_first_dom__999': None, 'd_week_seq__999': None, 'd_following_holiday__999': None, 'd_fy_year__999': None, 'd_quarter_seq__999': None, 'd_weekend__999': None, 'd_moy__999': None, 'd_same_day_ly__999': None, 'd_last_dom__999': None, 'd_quarter_name__999': None, 'd_year__999': None, 'd_current_month__999': None, 'd_current_year__999': None, 'd_current_quarter__999': None, 'd_dow__999': None, 'd_date_id__999': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
(psycopg2.errors.NotNullViolation) null value in column "w_warehouse_sk" of relation "warehouse" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, null, null, null, null, null, null, null, null, null, null, null, 0).

[SQL: INSERT INTO warehouse (w_warehouse_sk, w_warehouse_id, w_warehouse_name, w_warehouse_sq_ft, w_street_number, w_street_name, w_street_type, w_suite_number, w_city, w_county, w_state, w_zip, w_country, w_gmt_offset, sid) VALUES (%(w_warehouse_sk__0)s,  ... 331224 characters truncated ... y__999)s, %(w_state__999)s, %(w_zip__999)s, %(w_country__999)s, %(w_gmt_offset__999)s, %(sid__999)s)]
[parameters: {'w_street_name__0': None, 'w_zip__0': None, 'w_city__0': None, 'w_gmt_offset__0': None, 'sid__0': 0, 'w_suite_number__0': None, 'w_country__0': None, 'w_street_number__0': None, 'w_warehouse_sq_ft__0': None, 'w_warehouse_id__0': None, 'w_state__0': None, 'w_warehouse_name__0': None, 'w_county__0': None, 'w_warehouse_sk__0': None, 'w_street_type__0': None, 'w_street_name__1': None, 'w_zip__1': None, 'w_city__1': None, 'w_gmt_offset__1': None, 'sid__1': 1, 'w_suite_number__1': None, 'w_country__1': None, 'w_street_number__1': None, 'w_warehouse_sq_ft__1': None, 'w_warehouse_id__1': None, 'w_state__1': None, 'w_warehouse_name__1': None, 'w_county__1': None, 'w_warehouse_sk__1': None, 'w_street_type__1': None, 'w_street_name__2': None, 'w_zip__2': None, 'w_city__2': None, 'w_gmt_offset__2': None, 'sid__2': 2, 'w_suite_number__2': None, 'w_country__2': None, 'w_street_number__2': None, 'w_warehouse_sq_ft__2': None, 'w_warehouse_id__2': None, 'w_state__2': None, 'w_warehouse_name__2': None, 'w_county__2': None, 'w_warehouse_sk__2': None, 'w_street_type__2': None, 'w_street_name__3': None, 'w_zip__3': None, 'w_city__3': None, 'w_gmt_offset__3': None, 'sid__3': 3 ... 14900 parameters truncated ... 'w_state__996': None, 'w_warehouse_name__996': None, 'w_county__996': None, 'w_warehouse_sk__996': None, 'w_street_type__996': None, 'w_street_name__997': None, 'w_zip__997': None, 'w_city__997': None, 'w_gmt_offset__997': None, 'sid__997': 997, 'w_suite_number__997': None, 'w_country__997': None, 'w_street_number__997': None, 'w_warehouse_sq_ft__997': None, 'w_warehouse_id__997': None, 'w_state__997': None, 'w_warehouse_name__997': None, 'w_county__997': None, 'w_warehouse_sk__997': None, 'w_street_type__997': None, 'w_street_name__998': None, 'w_zip__998': None, 'w_city__998': None, 'w_gmt_offset__998': None, 'sid__998': 998, 'w_suite_number__998': None, 'w_country__998': None, 'w_street_number__998': None, 'w_warehouse_sq_ft__998': None, 'w_warehouse_id__998': None, 'w_state__998': None, 'w_warehouse_name__998': None, 'w_county__998': None, 'w_warehouse_sk__998': None, 'w_street_type__998': None, 'w_street_name__999': None, 'w_zip__999': None, 'w_city__999': None, 'w_gmt_offset__999': None, 'sid__999': 999, 'w_suite_number__999': None, 'w_country__999': None, 'w_street_number__999': None, 'w_warehouse_sq_ft__999': None, 'w_warehouse_id__999': None, 'w_state__999': None, 'w_warehouse_name__999': None, 'w_county__999': None, 'w_warehouse_sk__999': None, 'w_street_type__999': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
(psycopg2.errors.NotNullViolation) null value in column "sm_ship_mode_sk" of relation "ship_mode" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, null, null, null, 0).

[SQL: INSERT INTO ship_mode (sm_ship_mode_sk, sm_ship_mode_id, sm_type, sm_code, sm_carrier, sm_contract, sid) VALUES (%(sm_ship_mode_sk__0)s, %(sm_ship_mode_id__0)s, %(sm_type__0)s, %(sm_code__0)s, %(sm_carrier__0)s, %(sm_contract__0)s, %(sid__0)s), (%(sm ... 145990 characters truncated ... _999)s, %(sm_type__999)s, %(sm_code__999)s, %(sm_carrier__999)s, %(sm_contract__999)s, %(sid__999)s)]
[parameters: {'sm_contract__0': None, 'sid__0': 0, 'sm_carrier__0': None, 'sm_type__0': None, 'sm_ship_mode_id__0': None, 'sm_code__0': None, 'sm_ship_mode_sk__0': None, 'sm_contract__1': None, 'sid__1': 1, 'sm_carrier__1': None, 'sm_type__1': None, 'sm_ship_mode_id__1': None, 'sm_code__1': None, 'sm_ship_mode_sk__1': None, 'sm_contract__2': None, 'sid__2': 2, 'sm_carrier__2': None, 'sm_type__2': None, 'sm_ship_mode_id__2': None, 'sm_code__2': None, 'sm_ship_mode_sk__2': None, 'sm_contract__3': None, 'sid__3': 3, 'sm_carrier__3': None, 'sm_type__3': None, 'sm_ship_mode_id__3': None, 'sm_code__3': None, 'sm_ship_mode_sk__3': None, 'sm_contract__4': None, 'sid__4': 4, 'sm_carrier__4': None, 'sm_type__4': None, 'sm_ship_mode_id__4': None, 'sm_code__4': None, 'sm_ship_mode_sk__4': None, 'sm_contract__5': None, 'sid__5': 5, 'sm_carrier__5': None, 'sm_type__5': None, 'sm_ship_mode_id__5': None, 'sm_code__5': None, 'sm_ship_mode_sk__5': None, 'sm_contract__6': None, 'sid__6': 6, 'sm_carrier__6': None, 'sm_type__6': None, 'sm_ship_mode_id__6': None, 'sm_code__6': None, 'sm_ship_mode_sk__6': None, 'sm_contract__7': None ... 6900 parameters truncated ... 'sm_ship_mode_sk__992': None, 'sm_contract__993': None, 'sid__993': 993, 'sm_carrier__993': None, 'sm_type__993': None, 'sm_ship_mode_id__993': None, 'sm_code__993': None, 'sm_ship_mode_sk__993': None, 'sm_contract__994': None, 'sid__994': 994, 'sm_carrier__994': None, 'sm_type__994': None, 'sm_ship_mode_id__994': None, 'sm_code__994': None, 'sm_ship_mode_sk__994': None, 'sm_contract__995': None, 'sid__995': 995, 'sm_carrier__995': None, 'sm_type__995': None, 'sm_ship_mode_id__995': None, 'sm_code__995': None, 'sm_ship_mode_sk__995': None, 'sm_contract__996': None, 'sid__996': 996, 'sm_carrier__996': None, 'sm_type__996': None, 'sm_ship_mode_id__996': None, 'sm_code__996': None, 'sm_ship_mode_sk__996': None, 'sm_contract__997': None, 'sid__997': 997, 'sm_carrier__997': None, 'sm_type__997': None, 'sm_ship_mode_id__997': None, 'sm_code__997': None, 'sm_ship_mode_sk__997': None, 'sm_contract__998': None, 'sid__998': 998, 'sm_carrier__998': None, 'sm_type__998': None, 'sm_ship_mode_id__998': None, 'sm_code__998': None, 'sm_ship_mode_sk__998': None, 'sm_contract__999': None, 'sid__999': 999, 'sm_carrier__999': None, 'sm_type__999': None, 'sm_ship_mode_id__999': None, 'sm_code__999': None, 'sm_ship_mode_sk__999': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
(psycopg2.errors.NotNullViolation) null value in column "t_time_sk" of relation "time_dim" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, null, null, null, null, null, null, null, 0).

[SQL: INSERT INTO time_dim (t_time_sk, t_time_id, t_time, t_hour, t_minute, t_second, t_am_pm, t_shift, t_sub_shift, t_meal_time, sid) VALUES (%(t_time_sk__0)s, %(t_time_id__0)s, %(t_time__0)s, %(t_hour__0)s, %(t_minute__0)s, %(t_second__0)s, %(t_am_pm__0) ... 206574 characters truncated ... 999)s, %(t_am_pm__999)s, %(t_shift__999)s, %(t_sub_shift__999)s, %(t_meal_time__999)s, %(sid__999)s)]
[parameters: {'t_shift__0': None, 't_minute__0': None, 't_second__0': None, 'sid__0': 0, 't_time__0': None, 't_hour__0': None, 't_time_id__0': None, 't_meal_time__0': None, 't_am_pm__0': None, 't_time_sk__0': None, 't_sub_shift__0': None, 't_shift__1': None, 't_minute__1': None, 't_second__1': None, 'sid__1': 1, 't_time__1': None, 't_hour__1': None, 't_time_id__1': None, 't_meal_time__1': None, 't_am_pm__1': None, 't_time_sk__1': None, 't_sub_shift__1': None, 't_shift__2': None, 't_minute__2': None, 't_second__2': None, 'sid__2': 2, 't_time__2': None, 't_hour__2': None, 't_time_id__2': None, 't_meal_time__2': None, 't_am_pm__2': None, 't_time_sk__2': None, 't_sub_shift__2': None, 't_shift__3': None, 't_minute__3': None, 't_second__3': None, 'sid__3': 3, 't_time__3': None, 't_hour__3': None, 't_time_id__3': None, 't_meal_time__3': None, 't_am_pm__3': None, 't_time_sk__3': None, 't_sub_shift__3': None, 't_shift__4': None, 't_minute__4': None, 't_second__4': None, 'sid__4': 4, 't_time__4': None, 't_hour__4': None ... 10900 parameters truncated ... 't_hour__995': None, 't_time_id__995': None, 't_meal_time__995': None, 't_am_pm__995': None, 't_time_sk__995': None, 't_sub_shift__995': None, 't_shift__996': None, 't_minute__996': None, 't_second__996': None, 'sid__996': 996, 't_time__996': None, 't_hour__996': None, 't_time_id__996': None, 't_meal_time__996': None, 't_am_pm__996': None, 't_time_sk__996': None, 't_sub_shift__996': None, 't_shift__997': None, 't_minute__997': None, 't_second__997': None, 'sid__997': 997, 't_time__997': None, 't_hour__997': None, 't_time_id__997': None, 't_meal_time__997': None, 't_am_pm__997': None, 't_time_sk__997': None, 't_sub_shift__997': None, 't_shift__998': None, 't_minute__998': None, 't_second__998': None, 'sid__998': 998, 't_time__998': None, 't_hour__998': None, 't_time_id__998': None, 't_meal_time__998': None, 't_am_pm__998': None, 't_time_sk__998': None, 't_sub_shift__998': None, 't_shift__999': None, 't_minute__999': None, 't_second__999': None, 'sid__999': 999, 't_time__999': None, 't_hour__999': None, 't_time_id__999': None, 't_meal_time__999': None, 't_am_pm__999': None, 't_time_sk__999': None, 't_sub_shift__999': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

 33%|███▎      | 8/24 [00:00<00:01, 13.70it/s]

(psycopg2.errors.NotNullViolation) null value in column "r_reason_sk" of relation "reason" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, 0).

[SQL: INSERT INTO reason (r_reason_sk, r_reason_id, r_reason_desc, sid) VALUES (%(r_reason_sk__0)s, %(r_reason_id__0)s, %(r_reason_desc__0)s, %(sid__0)s), (%(r_reason_sk__1)s, %(r_reason_id__1)s, %(r_reason_desc__1)s, %(sid__1)s), (%(r_reason_sk__2)s, %(r_ ... 83281 characters truncated ... s, %(sid__998)s), (%(r_reason_sk__999)s, %(r_reason_id__999)s, %(r_reason_desc__999)s, %(sid__999)s)]
[parameters: {'r_reason_id__0': None, 'r_reason_sk__0': None, 'r_reason_desc__0': None, 'sid__0': 0, 'r_reason_id__1': None, 'r_reason_sk__1': None, 'r_reason_desc__1': None, 'sid__1': 1, 'r_reason_id__2': None, 'r_reason_sk__2': None, 'r_reason_desc__2': None, 'sid__2': 2, 'r_reason_id__3': None, 'r_reason_sk__3': None, 'r_reason_desc__3': None, 'sid__3': 3, 'r_reason_id__4': None, 'r_reason_sk__4': None, 'r_reason_desc__4': None, 'sid__4': 4, 'r_reason_id__5': None, 'r_reason_sk__5': None, 'r_reason_desc__5': None, 'sid__5': 5, 'r_reason_id__6': None, 'r_reason_sk__6': None, 'r_reason_desc__6': None, 'sid__6': 6, 'r_reason_id__7': None, 'r_reason_sk__7': None, 'r_reason_desc__7': None, 'sid__7': 7, 'r_reason_id__8': None, 'r_reason_sk__8': None, 'r_reason_desc__8': None, 'sid__8': 8, 'r_reason_id__9': None, 'r_reason_sk__9': None, 'r_reason_desc__9': None, 'sid__9': 9, 'r_reason_id__10': None, 'r_reason_sk__10': None, 'r_reason_desc__10': None, 'sid__10': 10, 'r_reason_id__11': None, 'r_reason_sk__11': None, 'r_reason_desc__11': None, 'sid__11': 11, 'r_reason_id__12': None, 'r_reason_sk__12': None ... 3900 parameters truncated ... 'r_reason_desc__987': None, 'sid__987': 987, 'r_reason_id__988': None, 'r_reason_sk__988': None, 'r_reason_desc__988': None, 'sid__988': 988, 'r_reason_id__989': None, 'r_reason_sk__989': None, 'r_reason_desc__989': None, 'sid__989': 989, 'r_reason_id__990': None, 'r_reason_sk__990': None, 'r_reason_desc__990': None, 'sid__990': 990, 'r_reason_id__991': None, 'r_reason_sk__991': None, 'r_reason_desc__991': None, 'sid__991': 991, 'r_reason_id__992': None, 'r_reason_sk__992': None, 'r_reason_desc__992': None, 'sid__992': 992, 'r_reason_id__993': None, 'r_reason_sk__993': None, 'r_reason_desc__993': None, 'sid__993': 993, 'r_reason_id__994': None, 'r_reason_sk__994': None, 'r_reason_desc__994': None, 'sid__994': 994, 'r_reason_id__995': None, 'r_reason_sk__995': None, 'r_reason_desc__995': None, 'sid__995': 995, 'r_reason_id__996': None, 'r_reason_sk__996': None, 'r_reason_desc__996': None, 'sid__996': 996, 'r_reason_id__997': None, 'r_reason_sk__997': None, 'r_reason_desc__997': None, 'sid__997': 997, 'r_reason_id__998': None, 'r_reason_sk__998': None, 'r_reason_desc__998': None, 'sid__998': 998, 'r_reason_id__999': None, 'r_reason_sk__999': None, 'r_reason_desc__999': None, 'sid__999': 999}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
(psycopg2.errors.NotNullViolation) null value in column "ib_income_band_sk" of relation "income_band" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, 0).

[SQL: INSERT INTO income_band (ib_income_band_sk, ib_lower_bound, ib_upper_bound, sid) VALUES (%(ib_income_band_sk__0)s, %(ib_lower_bound__0)s, %(ib_upper_bound__0)s, %(sid__0)s), (%(ib_income_band_sk__1)s, %(ib_lower_bound__1)s, %(ib_upper_bound__1)s, %(s ... 93296 characters truncated ... 998)s), (%(ib_income_band_sk__999)s, %(ib_lower_bound__999)s, %(ib_upper_bound__999)s, %(sid__999)s)]
[parameters: {'ib_income_band_sk__0': None, 'sid__0': 0, 'ib_lower_bound__0': None, 'ib_upper_bound__0': None, 'ib_income_band_sk__1': None, 'sid__1': 1, 'ib_lower_bound__1': None, 'ib_upper_bound__1': None, 'ib_income_band_sk__2': None, 'sid__2': 2, 'ib_lower_bound__2': None, 'ib_upper_bound__2': None, 'ib_income_band_sk__3': None, 'sid__3': 3, 'ib_lower_bound__3': None, 'ib_upper_bound__3': None, 'ib_income_band_sk__4': None, 'sid__4': 4, 'ib_lower_bound__4': None, 'ib_upper_bound__4': None, 'ib_income_band_sk__5': None, 'sid__5': 5, 'ib_lower_bound__5': None, 'ib_upper_bound__5': None, 'ib_income_band_sk__6': None, 'sid__6': 6, 'ib_lower_bound__6': None, 'ib_upper_bound__6': None, 'ib_income_band_sk__7': None, 'sid__7': 7, 'ib_lower_bound__7': None, 'ib_upper_bound__7': None, 'ib_income_band_sk__8': None, 'sid__8': 8, 'ib_lower_bound__8': None, 'ib_upper_bound__8': None, 'ib_income_band_sk__9': None, 'sid__9': 9, 'ib_lower_bound__9': None, 'ib_upper_bound__9': None, 'ib_income_band_sk__10': None, 'sid__10': 10, 'ib_lower_bound__10': None, 'ib_upper_bound__10': None, 'ib_income_band_sk__11': None, 'sid__11': 11, 'ib_lower_bound__11': None, 'ib_upper_bound__11': None, 'ib_income_band_sk__12': None, 'sid__12': 12 ... 3900 parameters truncated ... 'ib_lower_bound__987': None, 'ib_upper_bound__987': None, 'ib_income_band_sk__988': None, 'sid__988': 988, 'ib_lower_bound__988': None, 'ib_upper_bound__988': None, 'ib_income_band_sk__989': None, 'sid__989': 989, 'ib_lower_bound__989': None, 'ib_upper_bound__989': None, 'ib_income_band_sk__990': None, 'sid__990': 990, 'ib_lower_bound__990': None, 'ib_upper_bound__990': None, 'ib_income_band_sk__991': None, 'sid__991': 991, 'ib_lower_bound__991': None, 'ib_upper_bound__991': None, 'ib_income_band_sk__992': None, 'sid__992': 992, 'ib_lower_bound__992': None, 'ib_upper_bound__992': None, 'ib_income_band_sk__993': None, 'sid__993': 993, 'ib_lower_bound__993': None, 'ib_upper_bound__993': None, 'ib_income_band_sk__994': None, 'sid__994': 994, 'ib_lower_bound__994': None, 'ib_upper_bound__994': None, 'ib_income_band_sk__995': None, 'sid__995': 995, 'ib_lower_bound__995': None, 'ib_upper_bound__995': None, 'ib_income_band_sk__996': None, 'sid__996': 996, 'ib_lower_bound__996': None, 'ib_upper_bound__996': None, 'ib_income_band_sk__997': None, 'sid__997': 997, 'ib_lower_bound__997': None, 'ib_upper_bound__997': None, 'ib_income_band_sk__998': None, 'sid__998': 998, 'ib_lower_bound__998': None, 'ib_upper_bound__998': None, 'ib_income_band_sk__999': None, 'sid__999': 999, 'ib_lower_bound__999': None, 'ib_upper_bound__999': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
(psycopg2.errors.NotNullViolation) null value in column "i_item_sk" of relation "item" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, 0).

[SQL: INSERT INTO item (i_item_sk, i_item_id, i_rec_start_date, i_rec_end_date, i_item_desc, i_current_price, i_wholesale_cost, i_brand_id, i_brand, i_class_id, i_class, i_category_id, i_category, i_manufact_id, i_manufact, i_size, i_formulation, i_color,  ... 495432 characters truncated ... (i_units__999)s, %(i_container__999)s, %(i_manager_id__999)s, %(i_product_name__999)s, %(sid__999)s)]
[parameters: {'i_brand_id__0': None, 'i_item_id__0': None, 'sid__0': 0, 'i_color__0': None, 'i_item_sk__0': None, 'i_manufact__0': None, 'i_wholesale_cost__0': None, 'i_category_id__0': None, 'i_rec_end_date__0': None, 'i_manager_id__0': None, 'i_units__0': None, 'i_class__0': None, 'i_category__0': None, 'i_size__0': None, 'i_item_desc__0': None, 'i_manufact_id__0': None, 'i_formulation__0': None, 'i_product_name__0': None, 'i_brand__0': None, 'i_container__0': None, 'i_class_id__0': None, 'i_current_price__0': None, 'i_rec_start_date__0': None, 'i_brand_id__1': None, 'i_item_id__1': None, 'sid__1': 1, 'i_color__1': None, 'i_item_sk__1': None, 'i_manufact__1': None, 'i_wholesale_cost__1': None, 'i_category_id__1': None, 'i_rec_end_date__1': None, 'i_manager_id__1': None, 'i_units__1': None, 'i_class__1': None, 'i_category__1': None, 'i_size__1': None, 'i_item_desc__1': None, 'i_manufact_id__1': None, 'i_formulation__1': None, 'i_product_name__1': None, 'i_brand__1': None, 'i_container__1': None, 'i_class_id__1': None, 'i_current_price__1': None, 'i_rec_start_date__1': None, 'i_brand_id__2': None, 'i_item_id__2': None, 'sid__2': 2, 'i_color__2': None ... 22900 parameters truncated ... 'i_container__997': None, 'i_class_id__997': None, 'i_current_price__997': None, 'i_rec_start_date__997': None, 'i_brand_id__998': None, 'i_item_id__998': None, 'sid__998': 998, 'i_color__998': None, 'i_item_sk__998': None, 'i_manufact__998': None, 'i_wholesale_cost__998': None, 'i_category_id__998': None, 'i_rec_end_date__998': None, 'i_manager_id__998': None, 'i_units__998': None, 'i_class__998': None, 'i_category__998': None, 'i_size__998': None, 'i_item_desc__998': None, 'i_manufact_id__998': None, 'i_formulation__998': None, 'i_product_name__998': None, 'i_brand__998': None, 'i_container__998': None, 'i_class_id__998': None, 'i_current_price__998': None, 'i_rec_start_date__998': None, 'i_brand_id__999': None, 'i_item_id__999': None, 'sid__999': 999, 'i_color__999': None, 'i_item_sk__999': None, 'i_manufact__999': None, 'i_wholesale_cost__999': None, 'i_category_id__999': None, 'i_rec_end_date__999': None, 'i_manager_id__999': None, 'i_units__999': None, 'i_class__999': None, 'i_category__999': None, 'i_size__999': None, 'i_item_desc__999': None, 'i_manufact_id__999': None, 'i_formulation__999': None, 'i_product_name__999': None, 'i_brand__999': None, 'i_container__999': None, 'i_class_id__999': None, 'i_current_price__999': None, 'i_rec_start_date__999': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

 42%|████▏     | 10/24 [00:00<00:01, 11.27it/s]

(psycopg2.errors.NotNullViolation) null value in column "s_store_sk" of relation "store" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, 0).

[SQL: INSERT INTO store (s_store_sk, s_store_id, s_rec_start_date, s_rec_end_date, s_closed_date_sk, s_store_name, s_number_employees, s_floor_space, s_hours, s_manager, s_market_id, s_geography_class, s_market_desc, s_market_manager, s_division_id, s_divi ... 685791 characters truncated ...  %(s_zip__999)s, %(s_country__999)s, %(s_gmt_offset__999)s, %(s_tax_precentage__999)s, %(sid__999)s)]
[parameters: {'s_county__0': None, 'sid__0': 0, 's_closed_date_sk__0': None, 's_street_type__0': None, 's_company_id__0': None, 's_country__0': None, 's_manager__0': None, 's_gmt_offset__0': None, 's_geography_class__0': None, 's_store_id__0': None, 's_market_id__0': None, 's_hours__0': None, 's_rec_end_date__0': None, 's_company_name__0': None, 's_state__0': None, 's_street_name__0': None, 's_floor_space__0': None, 's_number_employees__0': None, 's_tax_precentage__0': None, 's_market_desc__0': None, 's_rec_start_date__0': None, 's_division_id__0': None, 's_division_name__0': None, 's_city__0': None, 's_store_name__0': None, 's_zip__0': None, 's_market_manager__0': None, 's_suite_number__0': None, 's_store_sk__0': None, 's_street_number__0': None, 's_county__1': None, 'sid__1': 1, 's_closed_date_sk__1': None, 's_street_type__1': None, 's_company_id__1': None, 's_country__1': None, 's_manager__1': None, 's_gmt_offset__1': None, 's_geography_class__1': None, 's_store_id__1': None, 's_market_id__1': None, 's_hours__1': None, 's_rec_end_date__1': None, 's_company_name__1': None, 's_state__1': None, 's_street_name__1': None, 's_floor_space__1': None, 's_number_employees__1': None, 's_tax_precentage__1': None, 's_market_desc__1': None ... 29900 parameters truncated ... 's_market_id__998': None, 's_hours__998': None, 's_rec_end_date__998': None, 's_company_name__998': None, 's_state__998': None, 's_street_name__998': None, 's_floor_space__998': None, 's_number_employees__998': None, 's_tax_precentage__998': None, 's_market_desc__998': None, 's_rec_start_date__998': None, 's_division_id__998': None, 's_division_name__998': None, 's_city__998': None, 's_store_name__998': None, 's_zip__998': None, 's_market_manager__998': None, 's_suite_number__998': None, 's_store_sk__998': None, 's_street_number__998': None, 's_county__999': None, 'sid__999': 999, 's_closed_date_sk__999': None, 's_street_type__999': None, 's_company_id__999': None, 's_country__999': None, 's_manager__999': None, 's_gmt_offset__999': None, 's_geography_class__999': None, 's_store_id__999': None, 's_market_id__999': None, 's_hours__999': None, 's_rec_end_date__999': None, 's_company_name__999': None, 's_state__999': None, 's_street_name__999': None, 's_floor_space__999': None, 's_number_employees__999': None, 's_tax_precentage__999': None, 's_market_desc__999': None, 's_rec_start_date__999': None, 's_division_id__999': None, 's_division_name__999': None, 's_city__999': None, 's_store_name__999': None, 's_zip__999': None, 's_market_manager__999': None, 's_suite_number__999': None, 's_store_sk__999': None, 's_street_number__999': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
(psycopg2.errors.NotNullViolation) null value in column "cc_call_center_sk" of relation "call_center" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, 0).

[SQL: INSERT INTO call_center (cc_call_center_sk, cc_call_center_id, cc_rec_start_date, cc_rec_end_date, cc_closed_date_sk, cc_open_date_sk, cc_name, cc_class, cc_employees, cc_sq_ft, cc_hours, cc_manager, cc_mkt_id, cc_mkt_class, cc_mkt_desc, cc_market_ma ... 734608 characters truncated ... c_zip__999)s, %(cc_country__999)s, %(cc_gmt_offset__999)s, %(cc_tax_percentage__999)s, %(sid__999)s)]
[parameters: {'cc_open_date_sk__0': None, 'cc_suite_number__0': None, 'cc_division_name__0': None, 'sid__0': 0, 'cc_mkt_desc__0': None, 'cc_mkt_class__0': None, 'cc_mkt_id__0': None, 'cc_company__0': None, 'cc_street_type__0': None, 'cc_zip__0': None, 'cc_hours__0': None, 'cc_street_name__0': None, 'cc_rec_end_date__0': None, 'cc_name__0': None, 'cc_gmt_offset__0': None, 'cc_market_manager__0': None, 'cc_country__0': None, 'cc_call_center_sk__0': None, 'cc_city__0': None, 'cc_employees__0': None, 'cc_division__0': None, 'cc_tax_percentage__0': None, 'cc_class__0': None, 'cc_street_number__0': None, 'cc_manager__0': None, 'cc_state__0': None, 'cc_closed_date_sk__0': None, 'cc_rec_start_date__0': None, 'cc_call_center_id__0': None, 'cc_company_name__0': None, 'cc_county__0': None, 'cc_sq_ft__0': None, 'cc_open_date_sk__1': None, 'cc_suite_number__1': None, 'cc_division_name__1': None, 'sid__1': 1, 'cc_mkt_desc__1': None, 'cc_mkt_class__1': None, 'cc_mkt_id__1': None, 'cc_company__1': None, 'cc_street_type__1': None, 'cc_zip__1': None, 'cc_hours__1': None, 'cc_street_name__1': None, 'cc_rec_end_date__1': None, 'cc_name__1': None, 'cc_gmt_offset__1': None, 'cc_market_manager__1': None, 'cc_country__1': None, 'cc_call_center_sk__1': None ... 31900 parameters truncated ... 'cc_gmt_offset__998': None, 'cc_market_manager__998': None, 'cc_country__998': None, 'cc_call_center_sk__998': None, 'cc_city__998': None, 'cc_employees__998': None, 'cc_division__998': None, 'cc_tax_percentage__998': None, 'cc_class__998': None, 'cc_street_number__998': None, 'cc_manager__998': None, 'cc_state__998': None, 'cc_closed_date_sk__998': None, 'cc_rec_start_date__998': None, 'cc_call_center_id__998': None, 'cc_company_name__998': None, 'cc_county__998': None, 'cc_sq_ft__998': None, 'cc_open_date_sk__999': None, 'cc_suite_number__999': None, 'cc_division_name__999': None, 'sid__999': 999, 'cc_mkt_desc__999': None, 'cc_mkt_class__999': None, 'cc_mkt_id__999': None, 'cc_company__999': None, 'cc_street_type__999': None, 'cc_zip__999': None, 'cc_hours__999': None, 'cc_street_name__999': None, 'cc_rec_end_date__999': None, 'cc_name__999': None, 'cc_gmt_offset__999': None, 'cc_market_manager__999': None, 'cc_country__999': None, 'cc_call_center_sk__999': None, 'cc_city__999': None, 'cc_employees__999': None, 'cc_division__999': None, 'cc_tax_percentage__999': None, 'cc_class__999': None, 'cc_street_number__999': None, 'cc_manager__999': None, 'cc_state__999': None, 'cc_closed_date_sk__999': None, 'cc_rec_start_date__999': None, 'cc_call_center_id__999': None, 'cc_company_name__999': None, 'cc_county__999': None, 'cc_sq_ft__999': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

 50%|█████     | 12/24 [00:01<00:01, 10.34it/s]

(psycopg2.errors.NotNullViolation) null value in column "c_customer_sk" of relation "customer" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, 0).

[SQL: INSERT INTO customer (c_customer_sk, c_customer_id, c_current_cdemo_sk, c_current_hdemo_sk, c_current_addr_sk, c_first_shipto_date_sk, c_first_sales_date_sk, c_salutation, c_first_name, c_last_name, c_preferred_cust_flag, c_birth_day, c_birth_month,  ... 483900 characters truncated ... ry__999)s, %(c_login__999)s, %(c_email_address__999)s, %(c_last_review_date_sk__999)s, %(sid__999)s)]
[parameters: {'sid__0': 0, 'c_customer_id__0': None, 'c_birth_year__0': None, 'c_first_name__0': None, 'c_first_sales_date_sk__0': None, 'c_salutation__0': None, 'c_login__0': None, 'c_email_address__0': None, 'c_customer_sk__0': None, 'c_birth_country__0': None, 'c_birth_month__0': None, 'c_birth_day__0': None, 'c_last_name__0': None, 'c_current_addr_sk__0': None, 'c_last_review_date_sk__0': None, 'c_current_cdemo_sk__0': None, 'c_current_hdemo_sk__0': None, 'c_preferred_cust_flag__0': None, 'c_first_shipto_date_sk__0': None, 'sid__1': 1, 'c_customer_id__1': None, 'c_birth_year__1': None, 'c_first_name__1': None, 'c_first_sales_date_sk__1': None, 'c_salutation__1': None, 'c_login__1': None, 'c_email_address__1': None, 'c_customer_sk__1': None, 'c_birth_country__1': None, 'c_birth_month__1': None, 'c_birth_day__1': None, 'c_last_name__1': None, 'c_current_addr_sk__1': None, 'c_last_review_date_sk__1': None, 'c_current_cdemo_sk__1': None, 'c_current_hdemo_sk__1': None, 'c_preferred_cust_flag__1': None, 'c_first_shipto_date_sk__1': None, 'sid__2': 2, 'c_customer_id__2': None, 'c_birth_year__2': None, 'c_first_name__2': None, 'c_first_sales_date_sk__2': None, 'c_salutation__2': None, 'c_login__2': None, 'c_email_address__2': None, 'c_customer_sk__2': None, 'c_birth_country__2': None, 'c_birth_month__2': None, 'c_birth_day__2': None ... 18900 parameters truncated ... 'c_email_address__997': None, 'c_customer_sk__997': None, 'c_birth_country__997': None, 'c_birth_month__997': None, 'c_birth_day__997': None, 'c_last_name__997': None, 'c_current_addr_sk__997': None, 'c_last_review_date_sk__997': None, 'c_current_cdemo_sk__997': None, 'c_current_hdemo_sk__997': None, 'c_preferred_cust_flag__997': None, 'c_first_shipto_date_sk__997': None, 'sid__998': 998, 'c_customer_id__998': None, 'c_birth_year__998': None, 'c_first_name__998': None, 'c_first_sales_date_sk__998': None, 'c_salutation__998': None, 'c_login__998': None, 'c_email_address__998': None, 'c_customer_sk__998': None, 'c_birth_country__998': None, 'c_birth_month__998': None, 'c_birth_day__998': None, 'c_last_name__998': None, 'c_current_addr_sk__998': None, 'c_last_review_date_sk__998': None, 'c_current_cdemo_sk__998': None, 'c_current_hdemo_sk__998': None, 'c_preferred_cust_flag__998': None, 'c_first_shipto_date_sk__998': None, 'sid__999': 999, 'c_customer_id__999': None, 'c_birth_year__999': None, 'c_first_name__999': None, 'c_first_sales_date_sk__999': None, 'c_salutation__999': None, 'c_login__999': None, 'c_email_address__999': None, 'c_customer_sk__999': None, 'c_birth_country__999': None, 'c_birth_month__999': None, 'c_birth_day__999': None, 'c_last_name__999': None, 'c_current_addr_sk__999': None, 'c_last_review_date_sk__999': None, 'c_current_cdemo_sk__999': None, 'c_current_hdemo_sk__999': None, 'c_preferred_cust_flag__999': None, 'c_first_shipto_date_sk__999': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
(psycopg2.errors.NotNullViolation) null value in column "web_site_sk" of relation "web_site" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, 0).

[SQL: INSERT INTO web_site (web_site_sk, web_site_id, web_rec_start_date, web_rec_end_date, web_name, web_open_date_sk, web_close_date_sk, web_class, web_manager, web_mkt_id, web_mkt_class, web_mkt_desc, web_market_manager, web_company_id, web_company_name ... 639104 characters truncated ... ip__999)s, %(web_country__999)s, %(web_gmt_offset__999)s, %(web_tax_percentage__999)s, %(sid__999)s)]
[parameters: {'web_company_name__0': None, 'web_open_date_sk__0': None, 'web_site_sk__0': None, 'sid__0': 0, 'web_tax_percentage__0': None, 'web_site_id__0': None, 'web_gmt_offset__0': None, 'web_manager__0': None, 'web_rec_end_date__0': None, 'web_rec_start_date__0': None, 'web_state__0': None, 'web_name__0': None, 'web_market_manager__0': None, 'web_suite_number__0': None, 'web_mkt_desc__0': None, 'web_street_type__0': None, 'web_company_id__0': None, 'web_city__0': None, 'web_zip__0': None, 'web_county__0': None, 'web_mkt_class__0': None, 'web_country__0': None, 'web_mkt_id__0': None, 'web_close_date_sk__0': None, 'web_class__0': None, 'web_street_name__0': None, 'web_street_number__0': None, 'web_company_name__1': None, 'web_open_date_sk__1': None, 'web_site_sk__1': None, 'sid__1': 1, 'web_tax_percentage__1': None, 'web_site_id__1': None, 'web_gmt_offset__1': None, 'web_manager__1': None, 'web_rec_end_date__1': None, 'web_rec_start_date__1': None, 'web_state__1': None, 'web_name__1': None, 'web_market_manager__1': None, 'web_suite_number__1': None, 'web_mkt_desc__1': None, 'web_street_type__1': None, 'web_company_id__1': None, 'web_city__1': None, 'web_zip__1': None, 'web_county__1': None, 'web_mkt_class__1': None, 'web_country__1': None, 'web_mkt_id__1': None ... 26900 parameters truncated ... 'web_tax_percentage__998': None, 'web_site_id__998': None, 'web_gmt_offset__998': None, 'web_manager__998': None, 'web_rec_end_date__998': None, 'web_rec_start_date__998': None, 'web_state__998': None, 'web_name__998': None, 'web_market_manager__998': None, 'web_suite_number__998': None, 'web_mkt_desc__998': None, 'web_street_type__998': None, 'web_company_id__998': None, 'web_city__998': None, 'web_zip__998': None, 'web_county__998': None, 'web_mkt_class__998': None, 'web_country__998': None, 'web_mkt_id__998': None, 'web_close_date_sk__998': None, 'web_class__998': None, 'web_street_name__998': None, 'web_street_number__998': None, 'web_company_name__999': None, 'web_open_date_sk__999': None, 'web_site_sk__999': None, 'sid__999': 999, 'web_tax_percentage__999': None, 'web_site_id__999': None, 'web_gmt_offset__999': None, 'web_manager__999': None, 'web_rec_end_date__999': None, 'web_rec_start_date__999': None, 'web_state__999': None, 'web_name__999': None, 'web_market_manager__999': None, 'web_suite_number__999': None, 'web_mkt_desc__999': None, 'web_street_type__999': None, 'web_company_id__999': None, 'web_city__999': None, 'web_zip__999': None, 'web_county__999': None, 'web_mkt_class__999': None, 'web_country__999': None, 'web_mkt_id__999': None, 'web_close_date_sk__999': None, 'web_class__999': None, 'web_street_name__999': None, 'web_street_number__999': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

 67%|██████▋   | 16/24 [00:01<00:00, 11.73it/s]

(psycopg2.errors.NotNullViolation) null value in column "sr_item_sk" of relation "store_returns" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, 0).

[SQL: INSERT INTO store_returns (sr_returned_date_sk, sr_return_time_sk, sr_item_sk, sr_customer_sk, sr_cdemo_sk, sr_hdemo_sk, sr_addr_sk, sr_store_sk, sr_reason_sk, sr_ticket_number, sr_return_quantity, sr_return_amt, sr_return_tax, sr_return_amt_inc_tax, ... 514698 characters truncated ... h__999)s, %(sr_reversed_charge__999)s, %(sr_store_credit__999)s, %(sr_net_loss__999)s, %(sid__999)s)]
[parameters: {'sr_returned_date_sk__0': None, 'sid__0': 0, 'sr_return_tax__0': None, 'sr_return_quantity__0': None, 'sr_fee__0': None, 'sr_return_ship_cost__0': None, 'sr_ticket_number__0': None, 'sr_return_amt_inc_tax__0': None, 'sr_store_credit__0': None, 'sr_reversed_charge__0': None, 'sr_store_sk__0': None, 'sr_cdemo_sk__0': None, 'sr_hdemo_sk__0': None, 'sr_return_time_sk__0': None, 'sr_refunded_cash__0': None, 'sr_item_sk__0': None, 'sr_addr_sk__0': None, 'sr_net_loss__0': None, 'sr_customer_sk__0': None, 'sr_reason_sk__0': None, 'sr_return_amt__0': None, 'sr_returned_date_sk__1': None, 'sid__1': 1, 'sr_return_tax__1': None, 'sr_return_quantity__1': None, 'sr_fee__1': None, 'sr_return_ship_cost__1': None, 'sr_ticket_number__1': None, 'sr_return_amt_inc_tax__1': None, 'sr_store_credit__1': None, 'sr_reversed_charge__1': None, 'sr_store_sk__1': None, 'sr_cdemo_sk__1': None, 'sr_hdemo_sk__1': None, 'sr_return_time_sk__1': None, 'sr_refunded_cash__1': None, 'sr_item_sk__1': None, 'sr_addr_sk__1': None, 'sr_net_loss__1': None, 'sr_customer_sk__1': None, 'sr_reason_sk__1': None, 'sr_return_amt__1': None, 'sr_returned_date_sk__2': None, 'sid__2': 2, 'sr_return_tax__2': None, 'sr_return_quantity__2': None, 'sr_fee__2': None, 'sr_return_ship_cost__2': None, 'sr_ticket_number__2': None, 'sr_return_amt_inc_tax__2': None ... 20900 parameters truncated ... 'sr_return_time_sk__997': None, 'sr_refunded_cash__997': None, 'sr_item_sk__997': None, 'sr_addr_sk__997': None, 'sr_net_loss__997': None, 'sr_customer_sk__997': None, 'sr_reason_sk__997': None, 'sr_return_amt__997': None, 'sr_returned_date_sk__998': None, 'sid__998': 998, 'sr_return_tax__998': None, 'sr_return_quantity__998': None, 'sr_fee__998': None, 'sr_return_ship_cost__998': None, 'sr_ticket_number__998': None, 'sr_return_amt_inc_tax__998': None, 'sr_store_credit__998': None, 'sr_reversed_charge__998': None, 'sr_store_sk__998': None, 'sr_cdemo_sk__998': None, 'sr_hdemo_sk__998': None, 'sr_return_time_sk__998': None, 'sr_refunded_cash__998': None, 'sr_item_sk__998': None, 'sr_addr_sk__998': None, 'sr_net_loss__998': None, 'sr_customer_sk__998': None, 'sr_reason_sk__998': None, 'sr_return_amt__998': None, 'sr_returned_date_sk__999': None, 'sid__999': 999, 'sr_return_tax__999': None, 'sr_return_quantity__999': None, 'sr_fee__999': None, 'sr_return_ship_cost__999': None, 'sr_ticket_number__999': None, 'sr_return_amt_inc_tax__999': None, 'sr_store_credit__999': None, 'sr_reversed_charge__999': None, 'sr_store_sk__999': None, 'sr_cdemo_sk__999': None, 'sr_hdemo_sk__999': None, 'sr_return_time_sk__999': None, 'sr_refunded_cash__999': None, 'sr_item_sk__999': None, 'sr_addr_sk__999': None, 'sr_net_loss__999': None, 'sr_customer_sk__999': None, 'sr_reason_sk__999': None, 'sr_return_amt__999': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
(psycopg2.errors.NotNullViolation) null value in column "hd_demo_sk" of relation "household_demographics" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, null, null, 0).

[SQL: INSERT INTO household_demographics (hd_demo_sk, hd_income_band_sk, hd_buy_potential, hd_dep_count, hd_vehicle_count, sid) VALUES (%(hd_demo_sk__0)s, %(hd_income_band_sk__0)s, %(hd_buy_potential__0)s, %(hd_dep_count__0)s, %(hd_vehicle_count__0)s, %(si ... 141117 characters truncated ... k__999)s, %(hd_buy_potential__999)s, %(hd_dep_count__999)s, %(hd_vehicle_count__999)s, %(sid__999)s)]
[parameters: {'sid__0': 0, 'hd_buy_potential__0': None, 'hd_vehicle_count__0': None, 'hd_income_band_sk__0': None, 'hd_dep_count__0': None, 'hd_demo_sk__0': None, 'sid__1': 1, 'hd_buy_potential__1': None, 'hd_vehicle_count__1': None, 'hd_income_band_sk__1': None, 'hd_dep_count__1': None, 'hd_demo_sk__1': None, 'sid__2': 2, 'hd_buy_potential__2': None, 'hd_vehicle_count__2': None, 'hd_income_band_sk__2': None, 'hd_dep_count__2': None, 'hd_demo_sk__2': None, 'sid__3': 3, 'hd_buy_potential__3': None, 'hd_vehicle_count__3': None, 'hd_income_band_sk__3': None, 'hd_dep_count__3': None, 'hd_demo_sk__3': None, 'sid__4': 4, 'hd_buy_potential__4': None, 'hd_vehicle_count__4': None, 'hd_income_band_sk__4': None, 'hd_dep_count__4': None, 'hd_demo_sk__4': None, 'sid__5': 5, 'hd_buy_potential__5': None, 'hd_vehicle_count__5': None, 'hd_income_band_sk__5': None, 'hd_dep_count__5': None, 'hd_demo_sk__5': None, 'sid__6': 6, 'hd_buy_potential__6': None, 'hd_vehicle_count__6': None, 'hd_income_band_sk__6': None, 'hd_dep_count__6': None, 'hd_demo_sk__6': None, 'sid__7': 7, 'hd_buy_potential__7': None, 'hd_vehicle_count__7': None, 'hd_income_band_sk__7': None, 'hd_dep_count__7': None, 'hd_demo_sk__7': None, 'sid__8': 8, 'hd_buy_potential__8': None ... 5900 parameters truncated ... 'hd_dep_count__991': None, 'hd_demo_sk__991': None, 'sid__992': 992, 'hd_buy_potential__992': None, 'hd_vehicle_count__992': None, 'hd_income_band_sk__992': None, 'hd_dep_count__992': None, 'hd_demo_sk__992': None, 'sid__993': 993, 'hd_buy_potential__993': None, 'hd_vehicle_count__993': None, 'hd_income_band_sk__993': None, 'hd_dep_count__993': None, 'hd_demo_sk__993': None, 'sid__994': 994, 'hd_buy_potential__994': None, 'hd_vehicle_count__994': None, 'hd_income_band_sk__994': None, 'hd_dep_count__994': None, 'hd_demo_sk__994': None, 'sid__995': 995, 'hd_buy_potential__995': None, 'hd_vehicle_count__995': None, 'hd_income_band_sk__995': None, 'hd_dep_count__995': None, 'hd_demo_sk__995': None, 'sid__996': 996, 'hd_buy_potential__996': None, 'hd_vehicle_count__996': None, 'hd_income_band_sk__996': None, 'hd_dep_count__996': None, 'hd_demo_sk__996': None, 'sid__997': 997, 'hd_buy_potential__997': None, 'hd_vehicle_count__997': None, 'hd_income_band_sk__997': None, 'hd_dep_count__997': None, 'hd_demo_sk__997': None, 'sid__998': 998, 'hd_buy_potential__998': None, 'hd_vehicle_count__998': None, 'hd_income_band_sk__998': None, 'hd_dep_count__998': None, 'hd_demo_sk__998': None, 'sid__999': 999, 'hd_buy_potential__999': None, 'hd_vehicle_count__999': None, 'hd_income_band_sk__999': None, 'hd_dep_count__999': None, 'hd_demo_sk__999': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
(psycopg2.errors.NotNullViolation) null value in column "wp_web_page_sk" of relation "web_page" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, null, null, null, null, null, null, null, null, null, null, null, 0).

[SQL: INSERT INTO web_page (wp_web_page_sk, wp_web_page_id, wp_rec_start_date, wp_rec_end_date, wp_creation_date_sk, wp_access_date_sk, wp_autogen_flag, wp_customer_sk, wp_url, wp_type, wp_char_count, wp_link_count, wp_image_count, wp_max_ad_count, sid) VA ... 361253 characters truncated ... unt__999)s, %(wp_link_count__999)s, %(wp_image_count__999)s, %(wp_max_ad_count__999)s, %(sid__999)s)]
[parameters: {'wp_rec_start_date__0': None, 'wp_access_date_sk__0': None, 'sid__0': 0, 'wp_image_count__0': None, 'wp_autogen_flag__0': None, 'wp_creation_date_sk__0': None, 'wp_max_ad_count__0': None, 'wp_customer_sk__0': None, 'wp_url__0': None, 'wp_char_count__0': None, 'wp_type__0': None, 'wp_rec_end_date__0': None, 'wp_web_page_id__0': None, 'wp_link_count__0': None, 'wp_web_page_sk__0': None, 'wp_rec_start_date__1': None, 'wp_access_date_sk__1': None, 'sid__1': 1, 'wp_image_count__1': None, 'wp_autogen_flag__1': None, 'wp_creation_date_sk__1': None, 'wp_max_ad_count__1': None, 'wp_customer_sk__1': None, 'wp_url__1': None, 'wp_char_count__1': None, 'wp_type__1': None, 'wp_rec_end_date__1': None, 'wp_web_page_id__1': None, 'wp_link_count__1': None, 'wp_web_page_sk__1': None, 'wp_rec_start_date__2': None, 'wp_access_date_sk__2': None, 'sid__2': 2, 'wp_image_count__2': None, 'wp_autogen_flag__2': None, 'wp_creation_date_sk__2': None, 'wp_max_ad_count__2': None, 'wp_customer_sk__2': None, 'wp_url__2': None, 'wp_char_count__2': None, 'wp_type__2': None, 'wp_rec_end_date__2': None, 'wp_web_page_id__2': None, 'wp_link_count__2': None, 'wp_web_page_sk__2': None, 'wp_rec_start_date__3': None, 'wp_access_date_sk__3': None, 'sid__3': 3, 'wp_image_count__3': None, 'wp_autogen_flag__3': None ... 14900 parameters truncated ... 'wp_type__996': None, 'wp_rec_end_date__996': None, 'wp_web_page_id__996': None, 'wp_link_count__996': None, 'wp_web_page_sk__996': None, 'wp_rec_start_date__997': None, 'wp_access_date_sk__997': None, 'sid__997': 997, 'wp_image_count__997': None, 'wp_autogen_flag__997': None, 'wp_creation_date_sk__997': None, 'wp_max_ad_count__997': None, 'wp_customer_sk__997': None, 'wp_url__997': None, 'wp_char_count__997': None, 'wp_type__997': None, 'wp_rec_end_date__997': None, 'wp_web_page_id__997': None, 'wp_link_count__997': None, 'wp_web_page_sk__997': None, 'wp_rec_start_date__998': None, 'wp_access_date_sk__998': None, 'sid__998': 998, 'wp_image_count__998': None, 'wp_autogen_flag__998': None, 'wp_creation_date_sk__998': None, 'wp_max_ad_count__998': None, 'wp_customer_sk__998': None, 'wp_url__998': None, 'wp_char_count__998': None, 'wp_type__998': None, 'wp_rec_end_date__998': None, 'wp_web_page_id__998': None, 'wp_link_count__998': None, 'wp_web_page_sk__998': None, 'wp_rec_start_date__999': None, 'wp_access_date_sk__999': None, 'sid__999': 999, 'wp_image_count__999': None, 'wp_autogen_flag__999': None, 'wp_creation_date_sk__999': None, 'wp_max_ad_count__999': None, 'wp_customer_sk__999': None, 'wp_url__999': None, 'wp_char_count__999': None, 'wp_type__999': None, 'wp_rec_end_date__999': None, 'wp_web_page_id__999': None, 'wp_link_count__999': None, 'wp_web_page_sk__999': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
(psycopg2.errors.NotNullViolation) null value in column "p_promo_sk" of relation "promotion" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, 0).

[SQL: INSERT INTO promotion (p_promo_sk, p_promo_id, p_start_date_sk, p_end_date_sk, p_item_sk, p_cost, p_response_target, p_promo_name, p_channel_dmail, p_channel_email, p_channel_catalog, p_channel_tv, p_channel_radio, p_channel_press, p_channel_event, p ... 475774 characters truncated ... mo__999)s, %(p_channel_details__999)s, %(p_purpose__999)s, %(p_discount_active__999)s, %(sid__999)s)]
[parameters: {'sid__0': 0, 'p_channel_press__0': None, 'p_promo_id__0': None, 'p_channel_demo__0': None, 'p_channel_dmail__0': None, 'p_start_date_sk__0': None, 'p_cost__0': None, 'p_promo_sk__0': None, 'p_channel_radio__0': None, 'p_channel_email__0': None, 'p_end_date_sk__0': None, 'p_channel_tv__0': None, 'p_response_target__0': None, 'p_channel_details__0': None, 'p_item_sk__0': None, 'p_promo_name__0': None, 'p_discount_active__0': None, 'p_purpose__0': None, 'p_channel_catalog__0': None, 'p_channel_event__0': None, 'sid__1': 1, 'p_channel_press__1': None, 'p_promo_id__1': None, 'p_channel_demo__1': None, 'p_channel_dmail__1': None, 'p_start_date_sk__1': None, 'p_cost__1': None, 'p_promo_sk__1': None, 'p_channel_radio__1': None, 'p_channel_email__1': None, 'p_end_date_sk__1': None, 'p_channel_tv__1': None, 'p_response_target__1': None, 'p_channel_details__1': None, 'p_item_sk__1': None, 'p_promo_name__1': None, 'p_discount_active__1': None, 'p_purpose__1': None, 'p_channel_catalog__1': None, 'p_channel_event__1': None, 'sid__2': 2, 'p_channel_press__2': None, 'p_promo_id__2': None, 'p_channel_demo__2': None, 'p_channel_dmail__2': None, 'p_start_date_sk__2': None, 'p_cost__2': None, 'p_promo_sk__2': None, 'p_channel_radio__2': None, 'p_channel_email__2': None ... 19900 parameters truncated ... 'p_end_date_sk__997': None, 'p_channel_tv__997': None, 'p_response_target__997': None, 'p_channel_details__997': None, 'p_item_sk__997': None, 'p_promo_name__997': None, 'p_discount_active__997': None, 'p_purpose__997': None, 'p_channel_catalog__997': None, 'p_channel_event__997': None, 'sid__998': 998, 'p_channel_press__998': None, 'p_promo_id__998': None, 'p_channel_demo__998': None, 'p_channel_dmail__998': None, 'p_start_date_sk__998': None, 'p_cost__998': None, 'p_promo_sk__998': None, 'p_channel_radio__998': None, 'p_channel_email__998': None, 'p_end_date_sk__998': None, 'p_channel_tv__998': None, 'p_response_target__998': None, 'p_channel_details__998': None, 'p_item_sk__998': None, 'p_promo_name__998': None, 'p_discount_active__998': None, 'p_purpose__998': None, 'p_channel_catalog__998': None, 'p_channel_event__998': None, 'sid__999': 999, 'p_channel_press__999': None, 'p_promo_id__999': None, 'p_channel_demo__999': None, 'p_channel_dmail__999': None, 'p_start_date_sk__999': None, 'p_cost__999': None, 'p_promo_sk__999': None, 'p_channel_radio__999': None, 'p_channel_email__999': None, 'p_end_date_sk__999': None, 'p_channel_tv__999': None, 'p_response_target__999': None, 'p_channel_details__999': None, 'p_item_sk__999': None, 'p_promo_name__999': None, 'p_discount_active__999': None, 'p_purpose__999': None, 'p_channel_catalog__999': None, 'p_channel_event__999': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

 75%|███████▌  | 18/24 [00:01<00:00, 12.26it/s]

(psycopg2.errors.NotNullViolation) null value in column "cp_catalog_page_sk" of relation "catalog_page" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, null, null, null, null, null, null, 0).

[SQL: INSERT INTO catalog_page (cp_catalog_page_sk, cp_catalog_page_id, cp_start_date_sk, cp_end_date_sk, cp_department, cp_catalog_number, cp_catalog_page_number, cp_description, cp_type, sid) VALUES (%(cp_catalog_page_sk__0)s, %(cp_catalog_page_id__0)s,  ... 252743 characters truncated ... er__999)s, %(cp_catalog_page_number__999)s, %(cp_description__999)s, %(cp_type__999)s, %(sid__999)s)]
[parameters: {'cp_start_date_sk__0': None, 'sid__0': 0, 'cp_catalog_page_number__0': None, 'cp_department__0': None, 'cp_type__0': None, 'cp_end_date_sk__0': None, 'cp_catalog_page_id__0': None, 'cp_catalog_number__0': None, 'cp_description__0': None, 'cp_catalog_page_sk__0': None, 'cp_start_date_sk__1': None, 'sid__1': 1, 'cp_catalog_page_number__1': None, 'cp_department__1': None, 'cp_type__1': None, 'cp_end_date_sk__1': None, 'cp_catalog_page_id__1': None, 'cp_catalog_number__1': None, 'cp_description__1': None, 'cp_catalog_page_sk__1': None, 'cp_start_date_sk__2': None, 'sid__2': 2, 'cp_catalog_page_number__2': None, 'cp_department__2': None, 'cp_type__2': None, 'cp_end_date_sk__2': None, 'cp_catalog_page_id__2': None, 'cp_catalog_number__2': None, 'cp_description__2': None, 'cp_catalog_page_sk__2': None, 'cp_start_date_sk__3': None, 'sid__3': 3, 'cp_catalog_page_number__3': None, 'cp_department__3': None, 'cp_type__3': None, 'cp_end_date_sk__3': None, 'cp_catalog_page_id__3': None, 'cp_catalog_number__3': None, 'cp_description__3': None, 'cp_catalog_page_sk__3': None, 'cp_start_date_sk__4': None, 'sid__4': 4, 'cp_catalog_page_number__4': None, 'cp_department__4': None, 'cp_type__4': None, 'cp_end_date_sk__4': None, 'cp_catalog_page_id__4': None, 'cp_catalog_number__4': None, 'cp_description__4': None, 'cp_catalog_page_sk__4': None ... 9900 parameters truncated ... 'cp_start_date_sk__995': None, 'sid__995': 995, 'cp_catalog_page_number__995': None, 'cp_department__995': None, 'cp_type__995': None, 'cp_end_date_sk__995': None, 'cp_catalog_page_id__995': None, 'cp_catalog_number__995': None, 'cp_description__995': None, 'cp_catalog_page_sk__995': None, 'cp_start_date_sk__996': None, 'sid__996': 996, 'cp_catalog_page_number__996': None, 'cp_department__996': None, 'cp_type__996': None, 'cp_end_date_sk__996': None, 'cp_catalog_page_id__996': None, 'cp_catalog_number__996': None, 'cp_description__996': None, 'cp_catalog_page_sk__996': None, 'cp_start_date_sk__997': None, 'sid__997': 997, 'cp_catalog_page_number__997': None, 'cp_department__997': None, 'cp_type__997': None, 'cp_end_date_sk__997': None, 'cp_catalog_page_id__997': None, 'cp_catalog_number__997': None, 'cp_description__997': None, 'cp_catalog_page_sk__997': None, 'cp_start_date_sk__998': None, 'sid__998': 998, 'cp_catalog_page_number__998': None, 'cp_department__998': None, 'cp_type__998': None, 'cp_end_date_sk__998': None, 'cp_catalog_page_id__998': None, 'cp_catalog_number__998': None, 'cp_description__998': None, 'cp_catalog_page_sk__998': None, 'cp_start_date_sk__999': None, 'sid__999': 999, 'cp_catalog_page_number__999': None, 'cp_department__999': None, 'cp_type__999': None, 'cp_end_date_sk__999': None, 'cp_catalog_page_id__999': None, 'cp_catalog_number__999': None, 'cp_description__999': None, 'cp_catalog_page_sk__999': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
(psycopg2.errors.NotNullViolation) null value in column "inv_date_sk" of relation "inventory" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, null, 0).

[SQL: INSERT INTO inventory (inv_date_sk, inv_item_sk, inv_warehouse_sk, inv_quantity_on_hand, sid) VALUES (%(inv_date_sk__0)s, %(inv_item_sk__0)s, %(inv_warehouse_sk__0)s, %(inv_quantity_on_hand__0)s, %(sid__0)s), (%(inv_date_sk__1)s, %(inv_item_sk__1)s,  ... 117199 characters truncated ... 999)s, %(inv_item_sk__999)s, %(inv_warehouse_sk__999)s, %(inv_quantity_on_hand__999)s, %(sid__999)s)]
[parameters: {'sid__0': 0, 'inv_warehouse_sk__0': None, 'inv_date_sk__0': None, 'inv_quantity_on_hand__0': None, 'inv_item_sk__0': None, 'sid__1': 1, 'inv_warehouse_sk__1': None, 'inv_date_sk__1': None, 'inv_quantity_on_hand__1': None, 'inv_item_sk__1': None, 'sid__2': 2, 'inv_warehouse_sk__2': None, 'inv_date_sk__2': None, 'inv_quantity_on_hand__2': None, 'inv_item_sk__2': None, 'sid__3': 3, 'inv_warehouse_sk__3': None, 'inv_date_sk__3': None, 'inv_quantity_on_hand__3': None, 'inv_item_sk__3': None, 'sid__4': 4, 'inv_warehouse_sk__4': None, 'inv_date_sk__4': None, 'inv_quantity_on_hand__4': None, 'inv_item_sk__4': None, 'sid__5': 5, 'inv_warehouse_sk__5': None, 'inv_date_sk__5': None, 'inv_quantity_on_hand__5': None, 'inv_item_sk__5': None, 'sid__6': 6, 'inv_warehouse_sk__6': None, 'inv_date_sk__6': None, 'inv_quantity_on_hand__6': None, 'inv_item_sk__6': None, 'sid__7': 7, 'inv_warehouse_sk__7': None, 'inv_date_sk__7': None, 'inv_quantity_on_hand__7': None, 'inv_item_sk__7': None, 'sid__8': 8, 'inv_warehouse_sk__8': None, 'inv_date_sk__8': None, 'inv_quantity_on_hand__8': None, 'inv_item_sk__8': None, 'sid__9': 9, 'inv_warehouse_sk__9': None, 'inv_date_sk__9': None, 'inv_quantity_on_hand__9': None, 'inv_item_sk__9': None ... 4900 parameters truncated ... 'sid__990': 990, 'inv_warehouse_sk__990': None, 'inv_date_sk__990': None, 'inv_quantity_on_hand__990': None, 'inv_item_sk__990': None, 'sid__991': 991, 'inv_warehouse_sk__991': None, 'inv_date_sk__991': None, 'inv_quantity_on_hand__991': None, 'inv_item_sk__991': None, 'sid__992': 992, 'inv_warehouse_sk__992': None, 'inv_date_sk__992': None, 'inv_quantity_on_hand__992': None, 'inv_item_sk__992': None, 'sid__993': 993, 'inv_warehouse_sk__993': None, 'inv_date_sk__993': None, 'inv_quantity_on_hand__993': None, 'inv_item_sk__993': None, 'sid__994': 994, 'inv_warehouse_sk__994': None, 'inv_date_sk__994': None, 'inv_quantity_on_hand__994': None, 'inv_item_sk__994': None, 'sid__995': 995, 'inv_warehouse_sk__995': None, 'inv_date_sk__995': None, 'inv_quantity_on_hand__995': None, 'inv_item_sk__995': None, 'sid__996': 996, 'inv_warehouse_sk__996': None, 'inv_date_sk__996': None, 'inv_quantity_on_hand__996': None, 'inv_item_sk__996': None, 'sid__997': 997, 'inv_warehouse_sk__997': None, 'inv_date_sk__997': None, 'inv_quantity_on_hand__997': None, 'inv_item_sk__997': None, 'sid__998': 998, 'inv_warehouse_sk__998': None, 'inv_date_sk__998': None, 'inv_quantity_on_hand__998': None, 'inv_item_sk__998': None, 'sid__999': 999, 'inv_warehouse_sk__999': None, 'inv_date_sk__999': None, 'inv_quantity_on_hand__999': None, 'inv_item_sk__999': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

 83%|████████▎ | 20/24 [00:01<00:00,  9.68it/s]

(psycopg2.errors.NotNullViolation) null value in column "cr_item_sk" of relation "catalog_returns" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, 0).

[SQL: INSERT INTO catalog_returns (cr_returned_date_sk, cr_returned_time_sk, cr_item_sk, cr_refunded_customer_sk, cr_refunded_cdemo_sk, cr_refunded_hdemo_sk, cr_refunded_addr_sk, cr_returning_customer_sk, cr_returning_cdemo_sk, cr_returning_hdemo_sk, cr_re ... 771124 characters truncated ... h__999)s, %(cr_reversed_charge__999)s, %(cr_store_credit__999)s, %(cr_net_loss__999)s, %(sid__999)s)]
[parameters: {'sid__0': 0, 'cr_refunded_cdemo_sk__0': None, 'cr_fee__0': None, 'cr_warehouse_sk__0': None, 'cr_reversed_charge__0': None, 'cr_return_ship_cost__0': None, 'cr_call_center_sk__0': None, 'cr_returned_date_sk__0': None, 'cr_returning_addr_sk__0': None, 'cr_return_amt_inc_tax__0': None, 'cr_returning_hdemo_sk__0': None, 'cr_refunded_hdemo_sk__0': None, 'cr_return_quantity__0': None, 'cr_return_tax__0': None, 'cr_net_loss__0': None, 'cr_reason_sk__0': None, 'cr_refunded_addr_sk__0': None, 'cr_returning_customer_sk__0': None, 'cr_order_number__0': None, 'cr_refunded_cash__0': None, 'cr_item_sk__0': None, 'cr_store_credit__0': None, 'cr_refunded_customer_sk__0': None, 'cr_catalog_page_sk__0': None, 'cr_ship_mode_sk__0': None, 'cr_return_amount__0': None, 'cr_returning_cdemo_sk__0': None, 'cr_returned_time_sk__0': None, 'sid__1': 1, 'cr_refunded_cdemo_sk__1': None, 'cr_fee__1': None, 'cr_warehouse_sk__1': None, 'cr_reversed_charge__1': None, 'cr_return_ship_cost__1': None, 'cr_call_center_sk__1': None, 'cr_returned_date_sk__1': None, 'cr_returning_addr_sk__1': None, 'cr_return_amt_inc_tax__1': None, 'cr_returning_hdemo_sk__1': None, 'cr_refunded_hdemo_sk__1': None, 'cr_return_quantity__1': None, 'cr_return_tax__1': None, 'cr_net_loss__1': None, 'cr_reason_sk__1': None, 'cr_refunded_addr_sk__1': None, 'cr_returning_customer_sk__1': None, 'cr_order_number__1': None, 'cr_refunded_cash__1': None, 'cr_item_sk__1': None, 'cr_store_credit__1': None ... 27900 parameters truncated ... 'cr_call_center_sk__998': None, 'cr_returned_date_sk__998': None, 'cr_returning_addr_sk__998': None, 'cr_return_amt_inc_tax__998': None, 'cr_returning_hdemo_sk__998': None, 'cr_refunded_hdemo_sk__998': None, 'cr_return_quantity__998': None, 'cr_return_tax__998': None, 'cr_net_loss__998': None, 'cr_reason_sk__998': None, 'cr_refunded_addr_sk__998': None, 'cr_returning_customer_sk__998': None, 'cr_order_number__998': None, 'cr_refunded_cash__998': None, 'cr_item_sk__998': None, 'cr_store_credit__998': None, 'cr_refunded_customer_sk__998': None, 'cr_catalog_page_sk__998': None, 'cr_ship_mode_sk__998': None, 'cr_return_amount__998': None, 'cr_returning_cdemo_sk__998': None, 'cr_returned_time_sk__998': None, 'sid__999': 999, 'cr_refunded_cdemo_sk__999': None, 'cr_fee__999': None, 'cr_warehouse_sk__999': None, 'cr_reversed_charge__999': None, 'cr_return_ship_cost__999': None, 'cr_call_center_sk__999': None, 'cr_returned_date_sk__999': None, 'cr_returning_addr_sk__999': None, 'cr_return_amt_inc_tax__999': None, 'cr_returning_hdemo_sk__999': None, 'cr_refunded_hdemo_sk__999': None, 'cr_return_quantity__999': None, 'cr_return_tax__999': None, 'cr_net_loss__999': None, 'cr_reason_sk__999': None, 'cr_refunded_addr_sk__999': None, 'cr_returning_customer_sk__999': None, 'cr_order_number__999': None, 'cr_refunded_cash__999': None, 'cr_item_sk__999': None, 'cr_store_credit__999': None, 'cr_refunded_customer_sk__999': None, 'cr_catalog_page_sk__999': None, 'cr_ship_mode_sk__999': None, 'cr_return_amount__999': None, 'cr_returning_cdemo_sk__999': None, 'cr_returned_time_sk__999': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
(psycopg2.errors.NotNullViolation) null value in column "wr_item_sk" of relation "web_returns" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, 0).

[SQL: INSERT INTO web_returns (wr_returned_date_sk, wr_returned_time_sk, wr_item_sk, wr_refunded_customer_sk, wr_refunded_cdemo_sk, wr_refunded_hdemo_sk, wr_refunded_addr_sk, wr_returning_customer_sk, wr_returning_cdemo_sk, wr_returning_hdemo_sk, wr_return ... 686392 characters truncated ... _999)s, %(wr_reversed_charge__999)s, %(wr_account_credit__999)s, %(wr_net_loss__999)s, %(sid__999)s)]
[parameters: {'wr_reason_sk__0': None, 'sid__0': 0, 'wr_fee__0': None, 'wr_refunded_customer_sk__0': None, 'wr_return_ship_cost__0': None, 'wr_account_credit__0': None, 'wr_reversed_charge__0': None, 'wr_item_sk__0': None, 'wr_return_quantity__0': None, 'wr_returned_date_sk__0': None, 'wr_return_amt__0': None, 'wr_refunded_hdemo_sk__0': None, 'wr_returning_addr_sk__0': None, 'wr_returning_customer_sk__0': None, 'wr_web_page_sk__0': None, 'wr_returning_cdemo_sk__0': None, 'wr_returning_hdemo_sk__0': None, 'wr_refunded_cash__0': None, 'wr_refunded_addr_sk__0': None, 'wr_return_amt_inc_tax__0': None, 'wr_return_tax__0': None, 'wr_net_loss__0': None, 'wr_order_number__0': None, 'wr_refunded_cdemo_sk__0': None, 'wr_returned_time_sk__0': None, 'wr_reason_sk__1': None, 'sid__1': 1, 'wr_fee__1': None, 'wr_refunded_customer_sk__1': None, 'wr_return_ship_cost__1': None, 'wr_account_credit__1': None, 'wr_reversed_charge__1': None, 'wr_item_sk__1': None, 'wr_return_quantity__1': None, 'wr_returned_date_sk__1': None, 'wr_return_amt__1': None, 'wr_refunded_hdemo_sk__1': None, 'wr_returning_addr_sk__1': None, 'wr_returning_customer_sk__1': None, 'wr_web_page_sk__1': None, 'wr_returning_cdemo_sk__1': None, 'wr_returning_hdemo_sk__1': None, 'wr_refunded_cash__1': None, 'wr_refunded_addr_sk__1': None, 'wr_return_amt_inc_tax__1': None, 'wr_return_tax__1': None, 'wr_net_loss__1': None, 'wr_order_number__1': None, 'wr_refunded_cdemo_sk__1': None, 'wr_returned_time_sk__1': None ... 24900 parameters truncated ... 'wr_reason_sk__998': None, 'sid__998': 998, 'wr_fee__998': None, 'wr_refunded_customer_sk__998': None, 'wr_return_ship_cost__998': None, 'wr_account_credit__998': None, 'wr_reversed_charge__998': None, 'wr_item_sk__998': None, 'wr_return_quantity__998': None, 'wr_returned_date_sk__998': None, 'wr_return_amt__998': None, 'wr_refunded_hdemo_sk__998': None, 'wr_returning_addr_sk__998': None, 'wr_returning_customer_sk__998': None, 'wr_web_page_sk__998': None, 'wr_returning_cdemo_sk__998': None, 'wr_returning_hdemo_sk__998': None, 'wr_refunded_cash__998': None, 'wr_refunded_addr_sk__998': None, 'wr_return_amt_inc_tax__998': None, 'wr_return_tax__998': None, 'wr_net_loss__998': None, 'wr_order_number__998': None, 'wr_refunded_cdemo_sk__998': None, 'wr_returned_time_sk__998': None, 'wr_reason_sk__999': None, 'sid__999': 999, 'wr_fee__999': None, 'wr_refunded_customer_sk__999': None, 'wr_return_ship_cost__999': None, 'wr_account_credit__999': None, 'wr_reversed_charge__999': None, 'wr_item_sk__999': None, 'wr_return_quantity__999': None, 'wr_returned_date_sk__999': None, 'wr_return_amt__999': None, 'wr_refunded_hdemo_sk__999': None, 'wr_returning_addr_sk__999': None, 'wr_returning_customer_sk__999': None, 'wr_web_page_sk__999': None, 'wr_returning_cdemo_sk__999': None, 'wr_returning_hdemo_sk__999': None, 'wr_refunded_cash__999': None, 'wr_refunded_addr_sk__999': None, 'wr_return_amt_inc_tax__999': None, 'wr_return_tax__999': None, 'wr_net_loss__999': None, 'wr_order_number__999': None, 'wr_refunded_cdemo_sk__999': None, 'wr_returned_time_sk__999': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

 92%|█████████▏| 22/24 [00:02<00:00,  9.10it/s]

(psycopg2.errors.NotNullViolation) null value in column "ws_item_sk" of relation "web_sales" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, 0).

[SQL: INSERT INTO web_sales (ws_sold_date_sk, ws_sold_time_sk, ws_ship_date_sk, ws_item_sk, ws_bill_customer_sk, ws_bill_cdemo_sk, ws_bill_hdemo_sk, ws_bill_addr_sk, ws_ship_customer_sk, ws_ship_cdemo_sk, ws_ship_hdemo_sk, ws_ship_addr_sk, ws_web_page_sk,  ... 852906 characters truncated ... s_net_paid_inc_ship__933)s, %(ws_net_paid_inc_ship_tax__933)s, %(ws_net_profit__933)s, %(sid__933)s)]
[parameters: {'sid__0': 0, 'ws_warehouse_sk__0': None, 'ws_wholesale_cost__0': None, 'ws_order_number__0': None, 'ws_promo_sk__0': None, 'ws_ext_ship_cost__0': None, 'ws_bill_customer_sk__0': None, 'ws_ext_discount_amt__0': None, 'ws_ext_sales_price__0': None, 'ws_web_page_sk__0': None, 'ws_net_paid__0': None, 'ws_bill_hdemo_sk__0': None, 'ws_ext_tax__0': None, 'ws_ship_mode_sk__0': None, 'ws_item_sk__0': None, 'ws_sold_time_sk__0': None, 'ws_ship_addr_sk__0': None, 'ws_quantity__0': None, 'ws_net_paid_inc_ship_tax__0': None, 'ws_net_profit__0': None, 'ws_list_price__0': None, 'ws_ship_cdemo_sk__0': None, 'ws_net_paid_inc_tax__0': None, 'ws_ship_hdemo_sk__0': None, 'ws_sales_price__0': None, 'ws_net_paid_inc_ship__0': None, 'ws_ship_customer_sk__0': None, 'ws_bill_addr_sk__0': None, 'ws_bill_cdemo_sk__0': None, 'ws_sold_date_sk__0': None, 'ws_web_site_sk__0': None, 'ws_ship_date_sk__0': None, 'ws_ext_wholesale_cost__0': None, 'ws_coupon_amt__0': None, 'ws_ext_list_price__0': None, 'sid__1': 1, 'ws_warehouse_sk__1': None, 'ws_wholesale_cost__1': None, 'ws_order_number__1': None, 'ws_promo_sk__1': None, 'ws_ext_ship_cost__1': None, 'ws_bill_customer_sk__1': None, 'ws_ext_discount_amt__1': None, 'ws_ext_sales_price__1': None, 'ws_web_page_sk__1': None, 'ws_net_paid__1': None, 'ws_bill_hdemo_sk__1': None, 'ws_ext_tax__1': None, 'ws_ship_mode_sk__1': None, 'ws_item_sk__1': None ... 32590 parameters truncated ... 'ws_list_price__932': None, 'ws_ship_cdemo_sk__932': None, 'ws_net_paid_inc_tax__932': None, 'ws_ship_hdemo_sk__932': None, 'ws_sales_price__932': None, 'ws_net_paid_inc_ship__932': None, 'ws_ship_customer_sk__932': None, 'ws_bill_addr_sk__932': None, 'ws_bill_cdemo_sk__932': None, 'ws_sold_date_sk__932': None, 'ws_web_site_sk__932': None, 'ws_ship_date_sk__932': None, 'ws_ext_wholesale_cost__932': None, 'ws_coupon_amt__932': None, 'ws_ext_list_price__932': None, 'sid__933': 933, 'ws_warehouse_sk__933': None, 'ws_wholesale_cost__933': None, 'ws_order_number__933': None, 'ws_promo_sk__933': None, 'ws_ext_ship_cost__933': None, 'ws_bill_customer_sk__933': None, 'ws_ext_discount_amt__933': None, 'ws_ext_sales_price__933': None, 'ws_web_page_sk__933': None, 'ws_net_paid__933': None, 'ws_bill_hdemo_sk__933': None, 'ws_ext_tax__933': None, 'ws_ship_mode_sk__933': None, 'ws_item_sk__933': None, 'ws_sold_time_sk__933': None, 'ws_ship_addr_sk__933': None, 'ws_quantity__933': None, 'ws_net_paid_inc_ship_tax__933': None, 'ws_net_profit__933': None, 'ws_list_price__933': None, 'ws_ship_cdemo_sk__933': None, 'ws_net_paid_inc_tax__933': None, 'ws_ship_hdemo_sk__933': None, 'ws_sales_price__933': None, 'ws_net_paid_inc_ship__933': None, 'ws_ship_customer_sk__933': None, 'ws_bill_addr_sk__933': None, 'ws_bill_cdemo_sk__933': None, 'ws_sold_date_sk__933': None, 'ws_web_site_sk__933': None, 'ws_ship_date_sk__933': None, 'ws_ext_wholesale_cost__933': None, 'ws_coupon_amt__933': None, 'ws_ext_list_price__933': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
(psycopg2.errors.NotNullViolation) null value in column "cs_item_sk" of relation "catalog_sales" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, 0).

[SQL: INSERT INTO catalog_sales (cs_sold_date_sk, cs_sold_time_sk, cs_ship_date_sk, cs_bill_customer_sk, cs_bill_cdemo_sk, cs_bill_hdemo_sk, cs_bill_addr_sk, cs_ship_customer_sk, cs_ship_cdemo_sk, cs_ship_hdemo_sk, cs_ship_addr_sk, cs_call_center_sk, cs_ca ... 859455 characters truncated ... s_net_paid_inc_ship__933)s, %(cs_net_paid_inc_ship_tax__933)s, %(cs_net_profit__933)s, %(sid__933)s)]
[parameters: {'cs_sold_time_sk__0': None, 'cs_promo_sk__0': None, 'sid__0': 0, 'cs_list_price__0': None, 'cs_ship_addr_sk__0': None, 'cs_ext_list_price__0': None, 'cs_bill_addr_sk__0': None, 'cs_net_paid_inc_ship_tax__0': None, 'cs_bill_customer_sk__0': None, 'cs_order_number__0': None, 'cs_quantity__0': None, 'cs_warehouse_sk__0': None, 'cs_ext_wholesale_cost__0': None, 'cs_net_paid_inc_tax__0': None, 'cs_call_center_sk__0': None, 'cs_net_profit__0': None, 'cs_ext_ship_cost__0': None, 'cs_ship_hdemo_sk__0': None, 'cs_item_sk__0': None, 'cs_sales_price__0': None, 'cs_ship_mode_sk__0': None, 'cs_ext_tax__0': None, 'cs_sold_date_sk__0': None, 'cs_bill_cdemo_sk__0': None, 'cs_ship_customer_sk__0': None, 'cs_wholesale_cost__0': None, 'cs_ext_discount_amt__0': None, 'cs_net_paid_inc_ship__0': None, 'cs_net_paid__0': None, 'cs_catalog_page_sk__0': None, 'cs_ext_sales_price__0': None, 'cs_ship_date_sk__0': None, 'cs_ship_cdemo_sk__0': None, 'cs_bill_hdemo_sk__0': None, 'cs_coupon_amt__0': None, 'cs_sold_time_sk__1': None, 'cs_promo_sk__1': None, 'sid__1': 1, 'cs_list_price__1': None, 'cs_ship_addr_sk__1': None, 'cs_ext_list_price__1': None, 'cs_bill_addr_sk__1': None, 'cs_net_paid_inc_ship_tax__1': None, 'cs_bill_customer_sk__1': None, 'cs_order_number__1': None, 'cs_quantity__1': None, 'cs_warehouse_sk__1': None, 'cs_ext_wholesale_cost__1': None, 'cs_net_paid_inc_tax__1': None, 'cs_call_center_sk__1': None ... 32590 parameters truncated ... 'cs_ship_mode_sk__932': None, 'cs_ext_tax__932': None, 'cs_sold_date_sk__932': None, 'cs_bill_cdemo_sk__932': None, 'cs_ship_customer_sk__932': None, 'cs_wholesale_cost__932': None, 'cs_ext_discount_amt__932': None, 'cs_net_paid_inc_ship__932': None, 'cs_net_paid__932': None, 'cs_catalog_page_sk__932': None, 'cs_ext_sales_price__932': None, 'cs_ship_date_sk__932': None, 'cs_ship_cdemo_sk__932': None, 'cs_bill_hdemo_sk__932': None, 'cs_coupon_amt__932': None, 'cs_sold_time_sk__933': None, 'cs_promo_sk__933': None, 'sid__933': 933, 'cs_list_price__933': None, 'cs_ship_addr_sk__933': None, 'cs_ext_list_price__933': None, 'cs_bill_addr_sk__933': None, 'cs_net_paid_inc_ship_tax__933': None, 'cs_bill_customer_sk__933': None, 'cs_order_number__933': None, 'cs_quantity__933': None, 'cs_warehouse_sk__933': None, 'cs_ext_wholesale_cost__933': None, 'cs_net_paid_inc_tax__933': None, 'cs_call_center_sk__933': None, 'cs_net_profit__933': None, 'cs_ext_ship_cost__933': None, 'cs_ship_hdemo_sk__933': None, 'cs_item_sk__933': None, 'cs_sales_price__933': None, 'cs_ship_mode_sk__933': None, 'cs_ext_tax__933': None, 'cs_sold_date_sk__933': None, 'cs_bill_cdemo_sk__933': None, 'cs_ship_customer_sk__933': None, 'cs_wholesale_cost__933': None, 'cs_ext_discount_amt__933': None, 'cs_net_paid_inc_ship__933': None, 'cs_net_paid__933': None, 'cs_catalog_page_sk__933': None, 'cs_ext_sales_price__933': None, 'cs_ship_date_sk__933': None, 'cs_ship_cdemo_sk__933': None, 'cs_bill_hdemo_sk__933': None, 'cs_coupon_amt__933': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

100%|██████████| 24/24 [00:02<00:00,  9.72it/s]

(psycopg2.errors.NotNullViolation) null value in column "ss_item_sk" of relation "store_sales" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, 0).

[SQL: INSERT INTO store_sales (ss_sold_date_sk, ss_sold_time_sk, ss_item_sk, ss_customer_sk, ss_cdemo_sk, ss_hdemo_sk, ss_addr_sk, ss_store_sk, ss_promo_sk, ss_ticket_number, ss_quantity, ss_wholesale_cost, ss_list_price, ss_sales_price, ss_ext_discount_am ... 586411 characters truncated ... mt__999)s, %(ss_net_paid__999)s, %(ss_net_paid_inc_tax__999)s, %(ss_net_profit__999)s, %(sid__999)s)]
[parameters: {'sid__0': 0, 'ss_wholesale_cost__0': None, 'ss_ticket_number__0': None, 'ss_ext_tax__0': None, 'ss_ext_discount_amt__0': None, 'ss_promo_sk__0': None, 'ss_store_sk__0': None, 'ss_hdemo_sk__0': None, 'ss_quantity__0': None, 'ss_addr_sk__0': None, 'ss_coupon_amt__0': None, 'ss_ext_list_price__0': None, 'ss_sales_price__0': None, 'ss_sold_time_sk__0': None, 'ss_net_paid_inc_tax__0': None, 'ss_list_price__0': None, 'ss_item_sk__0': None, 'ss_customer_sk__0': None, 'ss_net_paid__0': None, 'ss_ext_sales_price__0': None, 'ss_ext_wholesale_cost__0': None, 'ss_cdemo_sk__0': None, 'ss_net_profit__0': None, 'ss_sold_date_sk__0': None, 'sid__1': 1, 'ss_wholesale_cost__1': None, 'ss_ticket_number__1': None, 'ss_ext_tax__1': None, 'ss_ext_discount_amt__1': None, 'ss_promo_sk__1': None, 'ss_store_sk__1': None, 'ss_hdemo_sk__1': None, 'ss_quantity__1': None, 'ss_addr_sk__1': None, 'ss_coupon_amt__1': None, 'ss_ext_list_price__1': None, 'ss_sales_price__1': None, 'ss_sold_time_sk__1': None, 'ss_net_paid_inc_tax__1': None, 'ss_list_price__1': None, 'ss_item_sk__1': None, 'ss_customer_sk__1': None, 'ss_net_paid__1': None, 'ss_ext_sales_price__1': None, 'ss_ext_wholesale_cost__1': None, 'ss_cdemo_sk__1': None, 'ss_net_profit__1': None, 'ss_sold_date_sk__1': None, 'sid__2': 2, 'ss_wholesale_cost__2': None ... 23900 parameters truncated ... 'ss_net_profit__997': None, 'ss_sold_date_sk__997': None, 'sid__998': 998, 'ss_wholesale_cost__998': None, 'ss_ticket_number__998': None, 'ss_ext_tax__998': None, 'ss_ext_discount_amt__998': None, 'ss_promo_sk__998': None, 'ss_store_sk__998': None, 'ss_hdemo_sk__998': None, 'ss_quantity__998': None, 'ss_addr_sk__998': None, 'ss_coupon_amt__998': None, 'ss_ext_list_price__998': None, 'ss_sales_price__998': None, 'ss_sold_time_sk__998': None, 'ss_net_paid_inc_tax__998': None, 'ss_list_price__998': None, 'ss_item_sk__998': None, 'ss_customer_sk__998': None, 'ss_net_paid__998': None, 'ss_ext_sales_price__998': None, 'ss_ext_wholesale_cost__998': None, 'ss_cdemo_sk__998': None, 'ss_net_profit__998': None, 'ss_sold_date_sk__998': None, 'sid__999': 999, 'ss_wholesale_cost__999': None, 'ss_ticket_number__999': None, 'ss_ext_tax__999': None, 'ss_ext_discount_amt__999': None, 'ss_promo_sk__999': None, 'ss_store_sk__999': None, 'ss_hdemo_sk__999': None, 'ss_quantity__999': None, 'ss_addr_sk__999': None, 'ss_coupon_amt__999': None, 'ss_ext_list_price__999': None, 'ss_sales_price__999': None, 'ss_sold_time_sk__999': None, 'ss_net_paid_inc_tax__999': None, 'ss_list_price__999': None, 'ss_item_sk__999': None, 'ss_customer_sk__999': None, 'ss_net_paid__999': None, 'ss_ext_sales_price__999': None, 'ss_ext_wholesale_cost__999': None, 'ss_cdemo_sk__999': None, 'ss_net_profit__999': None, 'ss_sold_date_sk__999': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

Step 6

In [18]:
import sqlparse
from sqlparse.sql import Comparison, Where
from sqlparse.tokens import Keyword, DML
import re

def is_number(value):
    """
    Check if the given value is a number.
    
    Args:
        value (str): The value to check.
        
    Returns:
        bool: True if value is a number, False otherwise.
    """
    try:
        float(value)
        return True
    except ValueError:
        return False

def extract_numeric_predicates(sql_query):
    """
    Extract predicates from the SQL WHERE clause where the right side of the operator is a number.
    
    Args:
        sql_query (str): The SQL query string.
        
    Returns:
        list: A list of numeric predicates as strings.
    """
    # Parse the SQL query
    parsed = sqlparse.parse(sql_query)
    if not parsed:
        return []
    
    stmt = parsed[0]
    numeric_predicates = []

    def extract_from_tokens(tokens):
        """
        Recursively traverse tokens to find numeric comparisons.
        
        Args:
            tokens (list): List of sqlparse tokens.
        """
        for token in tokens:
            if isinstance(token, Comparison):
                # Extract the comparison string
                comparison = str(token).strip()
                
                # Regex to split the comparison into left, operator, and right
                match = re.match(r'(.+?)(=|<>|<=|>=|<|>)(.+)', comparison)
                if match:
                    left, operator, right = match.groups()
                    left = left.strip()
                    operator = operator.strip()
                    right = right.strip()
                    
                    # Remove surrounding quotes from strings
                    if right.startswith("'") and right.endswith("'"):
                        continue  # It's a string predicate; skip
                    if right.startswith('"') and right.endswith('"'):
                        continue  # It's a string predicate; skip
                    
                    # Check if the right side is a number
                    if is_number(right):
                        numeric_predicates.append(comparison)
            elif token.is_group:
                # Recursively handle sub-tokens
                extract_from_tokens(token.tokens)

    # Iterate through the tokens to find the WHERE clause
    for token in stmt.tokens:
        if isinstance(token, Where):
            extract_from_tokens(token.tokens)
            break  # Assuming only one WHERE clause

    return numeric_predicates

In [ ]:
# table_samples = []
# for i,row in query_file.iterrows():
#     table_sample = {}
#     preds = row['predicate'].split(',')
#     for i in range(0,len(preds),3):
#         left, op, right = preds[i:i+3]
#         alias,col = left.split('.')
#         table = alias2t[alias]
#         pred_string = ''.join((col,op,right))
#         q = 'select sid from {} where {}'.format(table, pred_string)
#         cur.execute(q)
#         sps = np.zeros(1000).astype('uint8')
#         sids = cur.fetchall()
#         sids = np.array(sids).squeeze()
#         if sids.size>1:
#             sps[sids] = 1
#         if table in table_sample:
#             table_sample[table] = table_sample[table] & sps
#         else:
#             table_sample[table] = sps
#     table_samples.append(table_sample)

In [20]:
data_dir = '/home/wuy/DB/pg_mem_data'

# load table_sample from file if exists
table_sample_file = os.path.join(tmp_data_dir, 'table_samples.pkl')
if os.path.exists(table_sample_file):
    with open(table_sample_file, 'rb') as f:
        table_samples = pickle.load(f)
    print('Loaded table_samples from file.')
else:
    with open(os.path.join(data_dir, dataset, 'train_plans.json')) as f:
        plans = json.load(f)

    table_pattern = r'\"([a-zA-Z_]+)\"\.'
    column_pattern = r'\.\"([a-zA-Z_]+)\"'

    table_samples = []
    for plan in tqdm(plans):
        table_sample = {}
        predicates = extract_numeric_predicates(plan['sql'])
        # print(plan['sql'])
        for predicate in predicates:
            try:
                table_name = re.search(table_pattern, predicate).group(1)
                column_name = re.search(column_pattern, predicate).group(1)
                if column_type[table_name][column_name] == 'char':
                    continue
                q = 'select sid from {} where {}'.format(table_name, predicate)
                cur.execute(q)
                sps = np.zeros(1000).astype('uint8')
                sids = cur.fetchall()
                sids = np.array(sids).squeeze()
                if sids.size>1:
                    sps[sids] = 1
                if table_name in table_sample:
                    table_sample[table_name] = table_sample[table_name] & sps
                else:
                    table_sample[table_name] = sps
            except Exception as e:
                print(f"Error: {e}")
        # if len(table_sample) > 0:
        table_samples.append(table_sample)

    import pickle
    # Save table_samples to file
    with open(table_sample_file, 'wb') as f:
        pickle.dump(table_samples, f)

100%|██████████| 40000/40000 [02:56<00:00, 226.18it/s]

In [21]:
table_samples

[{},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 ...]

In [72]:
query_file = pd.read_csv('data/imdb/workloads/synthetic.csv',sep='#',header=None)
query_file.columns = ['table','join','predicate','card']

In [73]:
query_file.head()

,table,join,predicate,card
0,cast_info ci,NaN,"ci.person_id,=,172968",838
1,"title t,movie_info mi",t.id=mi.movie_id,"t.kind_id,<,3,t.production_year,=,2008,mi.info...",297013
2,"title t,cast_info ci",t.id=ci.movie_id,"ci.person_id,<,3194645",31427248
3,"title t,cast_info ci,movie_info mi","t.id=ci.movie_id,t.id=mi.movie_id","ci.person_id,=,1742124,ci.role_id,>,2,mi.info_...",12
4,"title t,cast_info ci,movie_info_idx mi_idx","t.id=ci.movie_id,t.id=mi_idx.movie_id","t.kind_id,=,7,t.production_year,>,0,ci.role_id...",733244

In [76]:
conm = psycopg2.connect(database="imdb", user="wuy", host="127.0.0.1",password="wuy", port="5432")
conm.set_session(autocommit=True)
cur = conm.cursor()

In [77]:
table_samples = []
for i,row in query_file.iterrows():
    table_sample = {}
    preds = row['predicate'].split(',')
    for i in range(0,len(preds),3):
        left, op, right = preds[i:i+3]
        alias,col = left.split('.')
        table = alias2t[alias]
        pred_string = ''.join((col,op,right))
        q = 'select sid from {} where {}'.format(table, pred_string)
        cur.execute(q)
        sps = np.zeros(1000).astype('uint8')
        sids = cur.fetchall()
        sids = np.array(sids).squeeze()
        if sids.size>1:
            sps[sids] = 1
        if table in table_sample:
            table_sample[table] = table_sample[table] & sps
        else:
            table_sample[table] = sps
    table_samples.append(table_sample)

KeyError: 'ci'

In [85]:
# table_samples